.full-screen {
	min-height: calc(100vh - 97px);
}

ion-modal {
	--height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

ion-modal {
	max-height: 80vh;
	overflow: auto;
}
