[submodule "src/app/pages/ADMIN"]
	path = src/app/pages/ADMIN
	url = https://github.com/CodeArt-VN/ART-ERP-FE-ADMIN.git
[submodule "src/app/pages/POS"]
	path = src/app/pages/POS
	url = https://github.com/CodeArt-VN/ART-ERP-FE-POS.git
[submodule "src/app/pages/SALE"]
	path = src/app/pages/SALE
	url = https://github.com/CodeArt-VN/ART-ERP-FE-SALE.git
[submodule "src/app/pages/OST"]
	path = src/app/pages/OST
	url = https://github.com/CodeArt-VN/ART-ERP-FE-OST.git
