android/
ios/
node_modules/
platforms/
plugins/
resources/
hooks/
*.js
*.map

src/assets
src/app/services/static/api-list.ts
src/app/services/static/services.service.ts
src/app/app-routing.module.ts
src/theme/print.scss
src/index.html

**/routing.module.ts