::ng-deep {
    @media screen and (max-width: 1164px) {
        app-data-table {
            .col-name {
                flex-basis: 100%;
            }
        }
    }
}

.col-name {
    min-width: 250px;
    max-width: 250px;
    &.provider{
        min-width: 300px;
        max-width: unset;
    }
    b {
      color: var(--ion-color-primary);
    }
  }