::ng-deep {
    @media screen and (max-width: 1164px) {
        app-data-table {
            .col-name {
                flex-basis: 100%;
            }
        }
    }
}

.col-name {
    min-width: 250px;
    max-width: 250px;
    &.provider{
        min-width: 300px;
        max-width: unset;
    }
    b {
      color: var(--ion-color-primary);
    }
  }

  @media screen and (max-width: calc(1164px + 0px)) {
    .col-name {
        min-width: 150px;
        max-width: 150px;
        &.provider{
            min-width: 150px;
            max-width: unset;
            flex-direction: column;
            align-items: flex-start;
        }
    }
      
}
.icon-30 {
    width: 30px;
}