<app-input-control *ngIf="!column.filterTemplate && column.canFilter && field.id && field.id !== '#'" [field]="field" (change)="onFilterInputChange($event)"></app-input-control>
<ion-icon
	*ngIf="
		!column.filterTemplate &&
		column.canFilter &&
		field.id &&
		((column.filterControlType != 'time-frame' && field.form.controls[field.id]?.value) ||
			(column.filterControlType == 'time-frame' && (!field.form.controls.From?.controls.IsNull.value || !field.form.controls.To?.controls.IsNull.value)))
	"
	class="min-btn clickable"
	(click)="onFilterFieldReset()"
	name="close-circle-outline"
></ion-icon>

<ng-template *ngIf="column.filterTemplate && column.canFilter" [ngTemplateOutlet]="column.filterTemplate" [ngTemplateOutletContext]="_column"></ng-template>
