<div class="c-control">
  <label class="c-label" [attr.for]="id" *ngIf="type != 'checkbox' && type != 'radio' && label">
    {{ label | translate }}
    <ng-content select="[label]"></ng-content>
    <ion-text *ngIf="!form.controls[id].valid && !form.controls[id].pending && form.controls[id].dirty" color="danger"
      >(*<ng-content select="[message]"></ng-content>)</ion-text
    >
  </label>
  <app-input-control
    [inputControlTemplate]="inputControlTemplate"
    [form]="form"
    [type]="type"
    [id]="id"
    [secondaryId]="secondaryId"
    [label]="label"
    [color]="color"
    [placeholder]="placeholder"
    [dataSource]="dataSource"
    [bindValue]="bindValue"
    [bindLabel]="bindLabel"
    [multiple]="multiple"
    [clearable]="clearable"
    [noCheckDirty]="noCheckDirty"
    [isTree]="isTree"
    [searchFn]="searchFn"
    [isCollapsed] ="isCollapsed"
    (change)="onChange($event)"
    (inputChange)="onInputChange($event)"
    (nav)="onNav($event)"
  ></app-input-control>
  <label class="c-label checkbox" [attr.for]="id" *ngIf="type == 'checkbox' && label">
    {{ label | translate }}
    <ng-content select="[label]"></ng-content>
    <ion-text *ngIf="!form.controls[id].valid && !form.controls[id].pending && form.controls[id].dirty" color="danger"
      >(*<ng-content select="[message]"></ng-content>)</ion-text
    >
  </label>

  
</div>
