<ng-container [ngSwitch]="type" [formGroup]="form">
    <!-- text -->
    <input *ngSwitchDefault type="text" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [id]="id" placeholder="{{placeholder | translate}}" [formControlName]="id" (change)="onInputChange($event);" (keydown)="onKeydown($event)">

    <!-- number -->
    <input *ngSwitchCase="'number'" type="number" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [id]="id" placeholder="{{placeholder | translate}}" [formControlName]="id" (change)="onInputChange($event);" (keydown)="onKeydown($event)">

    <!-- email -->
    <input *ngSwitchCase="'email'" type="email" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [id]="id" placeholder="{{placeholder | translate}}" [formControlName]="id" (change)="onInputChange($event);" (keydown)="onKeydown($event)">

    <!-- date -->
    <input *ngSwitchCase="'date'" type="date" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input date" [id]="id" placeholder="{{placeholder | translate}}" [formControlName]="id" (change)="onInputChange($event);" (keydown)="onKeydown($event)">

    <!-- datetime-local -->
    <input *ngSwitchCase="'datetime-local'" type="datetime-local" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input date" [id]="id" placeholder="{{placeholder | translate}}" [formControlName]="id" (change)="onInputChange($event);" (keydown)="onKeydown($event)">

    <!-- radio -->
    <ng-container *ngSwitchCase="'radio'">
        <ng-container *ngFor="let i of dataSource; let j = index">
            <input [type]="'radio'" class="c-checkbox" [id]="id+'_'+j"  
            [value]="i[bindValue]" [name]="id" [formControlName]="id" (change)="onInputChange($event);" >
            <label class="c-label radio" [for]="id+'_'+j">
                <span>{{i[bindLabel] | translate}}</span>
            </label>
        </ng-container>
    </ng-container>

    <!-- checkbox -->
    <ng-container *ngSwitchCase="'checkbox'">
        <input type="checkbox"  class="c-checkbox" [id]="id"   [name]="id" [formControlName]="id" (change)="onInputChange($event);">
    </ng-container>

    <!-- select -->
    <select *ngSwitchCase="'select'" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input c-dropdown" [id]="id" placeholder="{{placeholder | translate}}" [formControlName]="id" (change)="onInputChange($event);" (keydown)="onKeydown($event)">
        <option *ngFor="let i of dataSource" [value]="i[bindValue]" [disabled] = "i.disabled">{{i[bindLabel] | translate}}</option>
    </select>

    <!-- ng-select -->
    <ng-select *ngSwitchCase="'ng-select'" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [formControlName]="id" [labelForId]="id" [items]="dataSource" [bindValue]="bindValue" [bindLabel]="bindLabel" [multiple]="multiple" [clearable]="clearable" (change)="onInputChange($event)" appendTo="#ng-select-holder">
    </ng-select>

    <!-- ng-select-status -->
    <ng-select *ngSwitchCase="'ng-select-status'" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [formControlName]="id" [labelForId]="id" [items]="dataSource" [bindValue]="bindValue" [multiple]="multiple" [clearable]="clearable" (change)="onInputChange($event)" appendTo="#ng-select-holder">
        <ng-template ng-label-tmp let-i="item">
            <b><ion-text [color]="i.Color">{{i.Name | translate}}</ion-text></b>
        </ng-template>
        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
            <div *ngIf="i"><ion-text [color]="i.Color" [ngOptionHighlight]="search">{{i.Name | translate}}</ion-text></div>
        </ng-template>
    </ng-select>

    <!-- ng-select-bp -->
    <ng-select *ngSwitchCase="'ng-select-bp'" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [formControlName]="id" [labelForId]="id" [items]="dataSource.items$ | async" [typeahead]="dataSource.input$" [loading]="dataSource.loading" [multiple]="multiple" [clearable]="clearable" [bindValue]="bindValue" placeholder="{{placeholder | translate}}" (change)="onInputChange($event)" appendTo="#ng-select-holder">
        <ng-template ng-label-tmp let-i="item">
            <div *ngIf="i.Id">
                <a [ngClass]="{'no-check-dirty': noCheckDirty}" class="clickable" (click)="nav('/business-partner/'+i.Id)" (mousedown)="$event.stopPropagation()">#{{i.Id}} <ion-icon name="open-outline"></ion-icon></a>
                <small [title]="i.Name"> {{i.Name}}</small>
            </div>
        </ng-template>
        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
            <div *ngIf="i">
                <div>
                    <b *ngIf="i.Code"><span [ngClass]="{'no-check-dirty': noCheckDirty}" class="important" [ngOptionHighlight]="search">{{i.Code}}</span></b>
                    <span style="white-space: normal;"> {{i.Name}}</span>
                    <span *ngIf="i.WorkPhone"> | <small> <b>{{i.WorkPhone}}</b></small></span>
                </div>
            </div>
        </ng-template>
    </ng-select>

    <!-- ng-select-item -->
    <ng-select *ngSwitchCase="'ng-select-item'" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [formControlName]="id" [labelForId]="id" [items]="dataSource.items$ | async" [typeahead]="dataSource.input$" [loading]="dataSource.loading" [multiple]="multiple" [clearable]="clearable" [bindValue]="bindValue" placeholder="{{placeholder | translate}}" (change)="onInputChange($event)" appendTo="#ng-select-holder">
        <ng-template ng-label-tmp let-i="item">
            <div *ngIf="i.Id">
                <a [ngClass]="{'no-check-dirty': noCheckDirty}" class="clickable" (click)="nav('/item/'+i.Id)" (mousedown)="$event.stopPropagation()">#{{i.Id}} <ion-icon name="open-outline"></ion-icon></a> &nbsp;
                <span [title]="i.Name">
                    <b *ngIf="i.Code" (mousedown)="$event.stopPropagation()">{{i.Code}}</b>
                    {{i.Name}}
                </span>
            </div>
        </ng-template>
        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
            <div *ngIf="i">
                <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                <small>#<b><span [ngClass]="{'no-check-dirty': noCheckDirty}" class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b></small>
            </div>
        </ng-template>
    </ng-select>

      <!-- ng-select-schema -->
    <ng-select *ngSwitchCase="'ng-select-schema'" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [formControlName]="id" [labelForId]="id" [items]="dataSource.items$ | async" [typeahead]="dataSource.input$" [loading]="dataSource.loading" [multiple]="multiple" [clearable]="clearable" [bindValue]="bindValue" placeholder="{{placeholder | translate}}" (change)="onInputChange($event)" appendTo="#ng-select-holder">
        <ng-template ng-label-tmp let-i="item">
            <div *ngIf="i.Id">
                <a [ngClass]="{'no-check-dirty': noCheckDirty}" class="clickable" (click)="nav('/schema/'+i.Id)" (mousedown)="$event.stopPropagation()">#{{i.Id}} <ion-icon name="open-outline"></ion-icon></a> &nbsp;
                <span [title]="i.Name">
                    <b *ngIf="i.Code" (mousedown)="$event.stopPropagation()">{{i.Code}}</b>
                    {{i.Name}}
                </span>
            </div>
        </ng-template>
        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
            <div *ngIf="i">
                <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                <small>#<b><span [ngClass]="{'no-check-dirty': noCheckDirty}" class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b></small>
            </div>
        </ng-template>
    </ng-select>

     <!-- ng-select-staff -->
     <ng-select *ngSwitchCase="'ng-select-staff'" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input" [formControlName]="id" [labelForId]="id" [items]="dataSource.items$ | async" [typeahead]="dataSource.input$" [loading]="dataSource.loading" [multiple]="multiple" [clearable]="clearable" [bindValue]="bindValue" placeholder="{{placeholder | translate}}" (change)="onInputChange($event)" appendTo="#ng-select-holder">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <ion-chip *ngFor="let i of items">
                <ion-avatar ><ion-img #img [src]="imgPath + i.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img></ion-avatar>
                <ion-label>{{i.FullName}}</ion-label>
                <ion-icon (click)="clear(i)" name="close-circle"></ion-icon>
            </ion-chip>
        </ng-template>
        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
            <div *ngIf="i">
                <ion-avatar ><ion-img #img [src]="imgPath + i.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img></ion-avatar>
                <span [ngOptionHighlight]="search">{{i.FullName}}</span><br>
                <small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b> <span *ngIf="i.Phone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.Phone}}</b></span></small>
            </div>
        </ng-template>
    </ng-select>
    <!-- textarea -->
    <textarea *ngSwitchCase="'textarea'" type="textarea" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input remark" [id]="id" placeholder="{{placeholder | translate}}" [formControlName]="id" (change)="onInputChange($event);" (keydown)="onKeydown($event)" rows="3"></textarea>

    <!-- branch-breadcrumbs -->
    <app-branch-breadcrumbs *ngSwitchCase="'branch-breadcrumbs'" [maxItems]="3" [Id]="form.controls[id].value" [Items]="dataSource" [ngClass]="{'no-check-dirty': noCheckDirty}" class="c-input disable breadcrumbs"></app-branch-breadcrumbs>

    <!-- span-text -->
    <span *ngSwitchCase="'span-text'" class="c-input disable">{{form.controls[id].value}}</span>

    <!-- span-number -->
    <span *ngSwitchCase="'span-number'" class="c-input disable">{{form.controls[id].value | number:'1.0-0'}}</span>

    <!-- span-date -->
    <span *ngSwitchCase="'span-date'" class="c-input disable">{{form.controls[id].value | date: 'yyyy/MM/dd'}}</span>

    <!-- span-datetime -->
    <span *ngSwitchCase="'span-datetime'" class="c-input disable">{{form.controls[id].value | date:'yyyy/MM/dd HH:mm'}}</span>

    
    
</ng-container>