.page-title {
  display: flex;
  flex-wrap: wrap;

  ion-icon {
    font-size: calc(10/16 * 3.8rem);
    margin-right: calc(10/16 * 1rem);
  }
  .content {
    flex: 1;
    h1 {
      font-size: calc(10/16 * 3.8rem);
      font-weight: 700;
      font-family: univia-pro;
      color: var(--ion-color-medium);
      margin: -3px 16px 0 0;

      @media screen and (max-width: calc(1024px)) {
        margin-right: 0;
        font-size: calc(10/16 * 2rem);
      }

      @media screen and (max-width: calc(768px)) {
        margin-right: 0;
        font-size: calc(10/16 * 1.6rem);
      }

      @media screen and (max-width: calc(425px)) {
        margin-right: 0;
        font-size: calc(10/16 * 1.4rem);
      }

      @media screen and (max-width: calc(320px)) {
        margin-right: 0;
        font-size: calc(10/16 * 1.3rem);
      }
    }
    p {
      font-size: calc(10/16 * 1.6rem);
      color: var(--ion-color-medium);
      font-weight: 400;
      line-height: calc(10/16 * 2.4rem);
      opacity: 0.5;
      margin: 0;

      @media screen and (max-width: calc(768px)) {
        font-size: calc(10/16 * 1.3rem);
        line-height: calc(10/16 * 1.5rem);
      }
    }
  }
}
