<ion-content [fullscreen]="true" appScrollbarTheme class="login" scroll-y="false">
	<div class="logo-contain">
		<div class="logo"></div>
	</div>

	<form [formGroup]="formGroup" (ngSubmit)="login()" *ngIf="!showForgotPassword">
		<div class="ion-padding">
			<app-form-control [field]="{ id: 'UserName', type: 'email', label: 'UserName', placeholder: 'Account - email', form: formGroup }"></app-form-control>

			<app-form-control [field]="{ id: 'Password', type: 'password', label: 'Password', placeholder: 'Password', form: formGroup }"></app-form-control>
		</div>

		<div class="ion-padding-horizontal">
			<button type="submit" style="visibility: hidden; position: absolute">{{ 'Login' | translate }}</button>

			<ion-button class="shadow" color="primary" expand="block" (click)="login()">{{ 'Login' | translate }}</ion-button>

			<ion-button
				*ngIf="biometricAvailable"
				class="ion-margin-top"
				expand="block"
				fill="outline"
				color="light"
				(click)="loginWithBiometric()"
			>
				<ion-icon name="scan-outline" slot="start" aria-hidden="true"></ion-icon>
				{{ biometricLabel }}
			</ion-button>
		</div>
	</form>

	<form (ngSubmit)="forgotPassword()" *ngIf="showForgotPassword">
		<ion-item lines="none">
			<ion-label color="white" position="stacked">
				{{ 'Username (email)' | translate }}
				<ion-text color="danger">(*)</ion-text>
			</ion-label>
			<ion-input autocomplete="nope" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" color="white" placeholder="{{ 'email@domain.com' | translate }}"></ion-input>
		</ion-item>

		<div class="ion-padding">
			<button type="submit" style="visibility: hidden; position: absolute">{{ 'Login' | translate }}</button>

			<ion-button color="warning" expand="block" (click)="forgotPassword()">{{ 'Request to change password' | translate }}</ion-button>
			<p class="divider">{{ 'Or' | translate }}</p>
			<ion-button expand="block" (click)="showForgotPassword = false">{{ 'Login' | translate }}</ion-button>

			<ion-button (click)="nav('/register', 'forward')" ion-padding-vertical color="light" fill="clear" size="small" expand="block">{{ 'Register' | translate }}</ion-button>
		</div>
	</form>
</ion-content>
