<ion-header>
	<ion-toolbar>
		<ion-title>{{ 'Advanced filter' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme>
	<ng-container>
		<ion-list lines="none" *ngFor="let group of groupView">
			<ion-list-header>
				<ion-label>
					<h3>{{ group.Name | translate }}</h3>
				</ion-label>
				<ion-label (click)="removeAllFieldsFromShown()" *ngIf="group.Name == 'Shown' && groupView[0].Fields.length > 1">
					<h3 class="hidden-all">{{ 'Hide all' | translate }}</h3>
				</ion-label>
			</ion-list-header>
			<ion-reorder-group [disabled]="group.Name !== 'Shown'" (ionItemReorder)="doReorder($event, groupView[0].Fields, group.Name)">
				<ion-item class="item-status" *ngFor="let field of group.Fields">
					<ion-reorder *ngIf="group.Name === 'Shown'" slot="start"></ion-reorder>
					<span class="icon-status">
						<ion-icon class="menu-icon" [color]="field.Color" [name]="field.Icon || 'pricetag-outline'"></ion-icon>
					</span>
					<ion-label>
						<h3>{{ field.Name | translate }}</h3>
					</ion-label>
					<ion-toggle
						slot="end"
						[checked]="group.Name === 'Shown'"
						[disabled]="field.Code === 'Id'"
						(ionChange)="group.Name === 'Shown' ? removeFieldFromShown(field) : addFieldToShown(field)"
					></ion-toggle>
				</ion-item>
			</ion-reorder-group>
		</ion-list>
	</ng-container>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-button slot="end" [disabled]="groupView[0].Fields.length < 1" (click)="exportAdvance()">{{'Export' | translate}}</ion-button>
	</ion-toolbar>
</ion-footer>

