<google-map width="100%" height="100%" *ngIf="env.isMapLoaded || (mapLoaded | async)" [options]="options">
	<ng-container *ngIf="this.items?.length">
		<ng-container *ngFor="let i of items">
			<map-marker
				#somemarker="mapMarker"
				*ngIf="i.option"
				[label]="i.option?.label"
				[title]="i.option?.title"
				[options]="i.option"
				[draggable]="IsDragable"
				(mapDragend)="changePosition(somemarker, i)"
				(mapClick)="openInfo(somemarker, i)"
			></map-marker>
		</ng-container>
	</ng-container>
	<map-info-window>
		<ion-card *ngIf="item" class="ion-no-margin">
			<img *ngIf="item.Image" src="{{item.Image}}" />
			<ion-card-header>
			  <ion-card-title>{{item.Title}}</ion-card-title>
			  <ion-card-subtitle>{{item.Subtitle}}</ion-card-subtitle>
			</ion-card-header>
		  
			<ion-card-content [innerHTML]="item.Content"></ion-card-content>
			<!-- <ion-button fill="clear">Action 1</ion-button>
			<ion-button fill="clear">Action 2</ion-button> -->
		  </ion-card>
	</map-info-window>
</google-map>
<app-page-message [itemsLength]="1" [showSpinner]="!env.isMapLoaded"></app-page-message>
