<ion-header [translucent]="true">
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true" appScrollbarTheme class="left" forceOverscroll="false">
	<ion-refresher [disabled]="!pageConfig.refresher" slot="fixed" (ionRefresh)="refresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'EventId'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
		>
			<datatable-column class="col-date" format="yyyy-MM-dd HH:mm:ss" name="Time" property="OccurredAt" filterControlType="date"></datatable-column>
			<datatable-column class="col-code" name="Type" property="EventType" filterControlType="ng-select" [filterDataSource]="eventTypeList"></datatable-column>
			<datatable-column class="col-name" name="Camera" property="CameraId"></datatable-column>
			<datatable-column class="col-name flex-break" name="Person" property="DisplayName">
				<ng-template let-i="row" datatable-cell-template>
					<div class="bold">{{i.DisplayName || i.PersonId}}</div>
					<small *ngIf="i.EmployeeCode">{{i.EmployeeCode}}</small>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-status" name="Status" property="Status">
				<ng-template let-i="row" datatable-cell-template>
					<ion-badge color="medium">{{i.Status}}</ion-badge>
					<ion-button *ngIf="i.Status==='PendingReview'" size="small" fill="clear" (click)="review(i, true)">{{ 'OK' | translate }}</ion-button>
					<ion-button *ngIf="i.Status==='PendingReview'" size="small" fill="clear" color="danger" (click)="review(i, false)">{{ 'X' | translate }}</ion-button>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>
</ion-content>
