<ion-header>
  <app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
  <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
    <ion-grid fixed>
      <form [formGroup]="formGroup">
        <ion-row class="hr-group">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">{{'Integration action' | translate}}</ion-label>
            </ion-list-header>
          </ion-col>

          <ion-col size="12" size-sm size-xl="4">
            <app-form-control
              [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }"
              (change)="saveChange()"
            >
              <small label *ngIf="item?.Id">Id: {{item.Id}}</small>
            </app-form-control>

            <div class="c-control">
              <label class="c-label" for="IDProvider">{{'Provider' | translate}}</label>
              <ng-select
                [ngClass]="{ 'no-check-dirty': noCheckDirty }"
                class="c-input"
                formControlName="IDProvider"
                labelForId="IDProvider"
                [items]="providerDataSource"
                bindLabel="Name"
                bindValue="Id"
                [clearable]="true"
                (change)="changeProvider()"
                appendTo="#ng-select-holder"
              >
                <!-- <ng-template ng-label-tmp let-i="item" let-clear="clear">
                  <ion-chip color="primary" *ngIf="i">
                    <ion-avatar>
                      <ion-img [src]="i.Icon" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
                    </ion-avatar>
                    <ion-label>{{ i.Name }}</ion-label><br />
                    <small
                    >#<b><span class="important">{{ i.Id }} - {{ i.Code }}</span></b>
                    </small
                  >
                  </ion-chip>
                </ng-template> -->
                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                  <div *ngIf="i">
                    <ion-avatar
                      ><ion-img #img [src]="i.Icon" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img
                    ></ion-avatar>
                    <span [ngOptionHighlight]="search">{{ i.Name }}</span><br />
                    <small
                      >#<b><span class="important" [ngOptionHighlight]="search">{{ i.Id }} - {{ i.Code }}</span></b>
                    </small>
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <app-form-control
              [field]="{id:'Group', label: 'Group',  type : 'text', form : formGroup }"
              (change)="saveChange()"
            ></app-form-control>

            <!-- <app-form-control [field]="{id:'IDProvider', label: 'Provider', dataSource: providerDataSource, type : 'ng-select',bindValue:'Id',bindLabel:'Name', form : formGroup }" (change)="changeProvider()"></app-form-control> -->
            <app-form-control
              [field]="{id:'IsTriggerable', label: 'Is triggerable',  type : 'checkbox', form : formGroup }"
              (change)="saveChange()"
            ></app-form-control>
          </ion-col>

          <ion-col size="12" size-sm size-xl="4">
            <app-form-control
              [field]="{id:'Type', label: 'Type', dataSource: typeList, type : 'ng-select',bindValue:'Code',bindLabel:'Name', form : formGroup }"
              (change)="saveChange()"
            ></app-form-control>
            <app-form-control
              [field]="{id:'IDSchema', label: 'Schema', dataSource: schemaDataSource, type : 'ng-select',bindValue:'Id',bindLabel:'Name', form : formGroup }"
              (change)="saveChange()"
            ></app-form-control>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
    <div class="row-full shadow full-screen">
      <ion-toolbar color="primary">
        <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
          <ion-segment-button value="s1">
            <ion-label>{{'Runner' | translate}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="s2">
            <ion-label>{{'Other information' | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end" *ngIf="segmentView=='s1'">
          <ion-button (click)="addRunner({},true)">
            <ion-icon slot="start" name="add"></ion-icon>
            {{'Add' | translate}}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <!-- Params -->
      <div class="table-contain ion-padding" *ngIf="segmentView == 's1' && formGroup.get('IDProvider').value">
        <section class="table responsive">
          <header class="bold">
            <div class="col-id cell">{{'Id' | translate}}</div>
            <div class="col-name cell">{{'API' | translate}}</div>
            <div class="col-checkbox cell">{{'Enable' | translate}}</div>

            <div class="col-icon cell">
              <ion-icon
                (click)="deleteItems()"
                color="danger"
                slot="icon-only"
                size="large"
                name="trash"
                slot="start"
              ></ion-icon>
            </div>

            <div class="col-icon cell">
              <ion-button *ngIf="isDisabled" size="small" (click)="toggleReorder()" fill="outline"
                >{{'Sort' | translate }}</ion-button
              >
              <ion-button *ngIf="!isDisabled" size="small" (click)="toggleReorder()"
                >{{'Sort' | translate }}</ion-button
              >
            </div>
          </header>
          <app-page-message [itemsLength]="Runners.controls" [showSpinner]="pageConfig.showSpinner"></app-page-message>

          <ion-reorder-group (ionItemReorder)="doReorder($event, Runners.controls)" [disabled]="isDisabled">
            <ng-container *ngFor="let c of Runners.controls ;let j = index">
              <ng-container [formGroup]="c">
                <div class="row" [ngClass]="{odd: j % 2 != 0}">
                  <div class="col-id cell">{{c.get('Id')?.value}}</div>
                  <div class="col-name cell">
                    <!-- <app-input-control [field]="{id:'IDAPICollection', type : 'ng-select-API', dataSource: apiCollectionDataSource , bindLabel:'Name', bindValue:'Id', form : c ,clearable:true}" (inputChange)="changeAPICollection($event,c)" ></app-input-control> -->

                    <ng-select
                      [ngClass]="{ 'no-check-dirty': noCheckDirty }"
                      class="c-input"
                      formControlName="IDAPICollection"
                      [items]="apiCollectionDataSource"
                      [clearable]="true"
                      bindLabel="Name"
                      bindValue="Id"
                      placeholder="{{ 'Select api' | translate }}"
                      appendTo="#ng-select-holder"
                      (change)="changeAPICollection(c)"
                    >
                      <ng-template ng-label-tmp let-i="item">
                        <div [attr.disabled]="i.disabled">
                          <div>
                            <ion-text
                              *ngIf="i.Type === 'Request'"
                              [color]="i.Method === 'GET' ? 'success' : i.Method === 'DELETE' ? 'danger' : 'warning'"
                            >
                              {{ i.Method }}
                            </ion-text>
                            <ion-icon *ngIf="i.Type === 'Folder'" name="folder-outline"></ion-icon>
                            <ion-icon *ngIf="i.Type === 'Collection'" name="keypad-outline"></ion-icon>
                            {{ i.Name }}
                            <small *ngIf="i.Remark" [title]="i.Remark">{{i.Remark}}</small>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                        <div [attr.disabled]="i.disabled">
                          <div>
                            <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                            <span [ngOptionHighlight]="search">
                              <ion-text
                                *ngIf="i.Type === 'Request'"
                                [color]="i.Method === 'GET' ? 'success' : i.Method === 'DELETE' ? 'danger' : 'warning'"
                              >
                                {{ i.Method }}
                              </ion-text>
                              <ion-icon *ngIf="i.Type === 'Folder'" name="folder-outline"></ion-icon>
                              <ion-icon *ngIf="i.Type === 'Collection'" name="keypad-outline"></ion-icon>
                              {{ i.Name }}
                            </span>
                            <!-- <small *ngIf="i.Remark" [title]="i.Remark">{{i.Remark}}</small> -->
                          </div>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="col-checkbox cell">
                    <input
                      class="c-checkbox"
                      [checked]="!c.get('IsDisabled').value"
                      type="checkbox"
                      (change)="changeEnableRunner(c, $event)"
                    />
                  </div>

                  <div class="col-icon cell clickable" (click)="removeField(c,j)">
                    <ion-icon color="danger" *ngIf="pageConfig.canEdit && pageConfig.canDelete" name="trash"></ion-icon>
                  </div>
                  <ion-reorder slot="end"></ion-reorder>
                  <div class="col-icon cell" *ngIf="isDisabled"></div>
                </div>
              </ng-container>
            </ng-container>
          </ion-reorder-group>
        </section>
      </div>
      <!-- Other Info -->
      <div *ngIf="segmentView == 's2'">
        <ion-row class="hr-group" *ngIf="item?.Id">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">{{'Other information' | translate}}</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control
              [field]="{id:'CreatedBy', type : 'span-text', label: 'Created by', form : formGroup }"
            ></app-form-control>
            <app-form-control
              [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"
            ></app-form-control>
            <app-form-control
              [field]="{id:'ModifiedBy', type : 'span-text', label: 'Last modified by', form : formGroup }"
            ></app-form-control>
            <app-form-control
              [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"
            ></app-form-control>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control
              [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }"
              (change)="saveChange()"
            ></app-form-control>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
