<ion-header>
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button (click)="refresh()" title="{{ 'Refresh' | translate }}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>
			<ion-button (click)="closeModal()" title="{{ 'Close' | translate }}">
				<ion-icon slot="icon-only" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme [fullscreen]="true">
	<div class="wallet-screen">	
		<ng-template #myQrTemplate>
			<div class="payment-card my-qr-card">
				<div class="qr-name" *ngIf="ui.myQrUrl">{{ 'My QR' | translate }}</div>
				<div class="qr-holder" *ngIf="ui.myQrUrl">
					<img [src]="ui.myQrUrl" alt="My QR" />
				</div>
			</div>
		</ng-template>
		<ng-container *ngIf="ui.segmentView == 's2'; else myQrTemplate">
			<div class="payment-card" *ngFor="let card of ui.useModeCards">
				<div class="qr-name" *ngIf="card.QrUrl">{{ card.Name | translate }}</div>
				<div class="qr-holder" *ngIf="card.QrUrl">
					<img [src]="card.QrUrl" [alt]="card.Name" />
				</div>

				<div class="qr-timeout" *ngIf="card.QrUrl">
					<ion-icon name="reload-outline"></ion-icon>
					<span>{{ 'Reload in' | translate }} {{ card.TimeoutInSeconds }}s</span>
				</div>
			</div>

		</ng-container>

	</div>

	<ion-segment class="wallet-bottom-segment" (ionChange)="segmentChanged($event)" [value]="ui.segmentView">
		<ion-segment-button value="s1">
			<ion-icon name="scan-outline"></ion-icon>
			<ion-label>My QR</ion-label>
		</ion-segment-button>
		<ion-segment-button value="s2">
			<ion-icon name="qr-code-outline"></ion-icon>
			<ion-label>QR use mode</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-content>
