<ion-toolbar [ngClass]="{'toolbar-no-border': NoBorder}" *ngIf="page">
	<ion-buttons slot="start">
		<ion-back-button [defaultHref]="BackHref? BackHref : page.pageConfig.pageName" [text]="(page.pageConfig.pageName?('erp.app.app-component.menu.menu-group.' + page.pageConfig.pageName) : '') | translate "> </ion-back-button>
	</ion-buttons>
    <ion-title *ngIf="title">
        <!-- <ion-button class="title" text-center fill="clear" expand="full" size="small"> -->
            {{title}}
        <!-- </ion-button> -->
    </ion-title>
	<ion-buttons slot="end">
		<ng-content></ng-content>

		<ion-button *ngIf="page.pageConfig.canChangeBranch" (click)="page.changeBranch()" title="{{'erp.app.components.list-toolbar.change-branch' | translate}}">
			<ion-icon color="warning" slot="icon-only" name="sitemap"></ion-icon>
		</ion-button>
		<span class="split ion-hide-sm-down" *ngIf="page.pageConfig.canChangeBranch ">|</span>


        <!-- <ion-button title="{{'erp.app.components.list-toolbar.submit-business-partner' | translate}}" *ngIf="page.pageConfig.canSubmitForApproval && !page.Item?.IsDisabled" (click)="page.submitForApproval()">
			<ion-icon color="success" slot="icon-only" name="send-outline"></ion-icon>
		</ion-button>
		<ion-button title="{{'erp.app.components.list-toolbar.approve-business-partner' | translate}}" *ngIf="page.pageConfig.canApprove && !page.Item?.IsDisabled" (click)="page.approve()">
			<ion-icon color="success" slot="icon-only" name="thumbs-up-outline"></ion-icon>
		</ion-button>
		<ion-button title="{{'erp.app.components.list-toolbar.disapprove-business-partner' | translate}}" *ngIf="page.pageConfig.canDisapprove && !page.Item?.IsDisabled" (click)="page.disapprove()">
			<ion-icon color="warning" slot="icon-only" name="thumbs-down-outline"></ion-icon>
		</ion-button>
        <ion-button title="{{'erp.app.components.list-toolbar.cancel-invoices' | translate}}" *ngIf="page.pageConfig.canCancel && !page.Item?.IsDisabled" (click)="page.cancel()">
			<ion-icon color="danger" slot="icon-only" name="ban-outline"></ion-icon>
		</ion-button>
        <span class="split ion-hide-sm-down" *ngIf="(page.pageConfig.canSubmitForApproval || page.pageConfig.canApprove || page.pageConfig.canDisapprove || page.pageConfig.canCancel) && !page.Item?.IsDisabled ">|</span> -->


		<ion-button *ngIf="ShowRefresh" title="{{'erp.app.components.detail-toolbar.refresh' | translate}}" (click)="page.refresh()">
			<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
		</ion-button>
		<ion-button *ngIf="ShowDelete && page.item && page.item.Id && page.pageConfig.canDelete" (click)="page.delete()" title="{{'erp.app.components.detail-toolbar.delete' | translate}}">
			<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
		</ion-button>
		<ion-button *ngIf="ShowHelp" title="{{'erp.app.components.detail-toolbar.help' | translate}}" (click)="page.help()">
			<ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
		</ion-button>
		<ion-button *ngIf="ShowFeature" title="{{'erp.app.components.detail-toolbar.show-feature' | translate}}" (click)="page.pageConfig.isShowFeature = !page.pageConfig.isShowFeature;">
			<ion-icon slot="icon-only" [name]="page.pageConfig.isShowFeature? 'close-outline':'list-circle-outline'">
			</ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
 