<ion-app class="default-palette">
	<div id="ng-select-holder" style="position: absolute; z-index: 30005"></div>
	<ion-split-pane contentId="main-content">
		<ion-menu
			contentId="main-content"
			type="overlay"
			[ngClass]="{
				'less-menu': countForm < 7,
				'compact-menu': env?.user?.UserSetting?.IsCompactMenu?.Value,
			}"
			[hidden]="!showAppMenu || !(env.user && env.user.Id)"
			id="app-menu"
			menuId="appMenu"
			*ngIf="showMenu"
		>
			<ion-header>
				<div class="close-menu">
					<ion-toolbar>
						<ion-buttons slot="start">
							<ion-menu-button icon="close-circle-outline"></ion-menu-button>
						</ion-buttons>
					</ion-toolbar>
				</div>
				<div class="app-logo-wrapper">
					<a href="." [ngStyle]="{ 'background-image': 'url(' + logo + ')' }" class="app-logo" menu-close=""></a>
					<div class="c-control branch-select" *ngIf="env.branchList.length > 0 && env.user.StaffID > 0">
						<app-input-control
							(change)="changeBranch()"
							[field]="{
								id: 'IDBranch',
								label: 'Branch',
								type: 'ng-select-branch',
								dataSource: branchList,
								bindLabel: 'Name',
								bindValue: 'Id',
								placeholder: 'Search',
								form: branchFormGroup,
							}"
						>
						</app-input-control>
					</div>
				</div>
			</ion-header>
			<ion-content appScrollbarTheme>
				<!-- https://github.com/ionic-team/ionic-v3/issues/737#issuecomment-519105142 -->

				<div
					class="menu-items"
					[ngClass]="{
						'less-menu': countForm < 7,
						'compact-menu': env?.user?.UserSetting?.IsCompactMenu?.Value,
					}"
					*ngIf="isShowSearch && env.user"
				>
					<ion-header>
						<ion-toolbar class="no-padding" style="padding-top: 13px">
							<ion-buttons slot="start">
								<ion-button (click)="isShowSearch = false">
									<ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
								</ion-button>
							</ion-buttons>
							<ion-searchbar #search [(ngModel)]="queryMenu" (ionInput)="searchMenu($event)" placeholder="{{ 'Search menu' | translate }}"></ion-searchbar>
						</ion-toolbar>
					</ion-header>
					<div class="menu-group" *ngIf="foundMenu">
						<ng-container *ngFor="let f of foundMenu">
							<div *ngIf="f.Type == 10 && f.Code != 'NoGroup'" class="menu-item menu-module">
								<span class="menu-title">{{ f.Name | translate }}</span>
							</div>
							<div *ngIf="f.Type == 11 && f.Code != 'NoGroup'" class="menu-item menu-submodule">
								<span class="menu-title">{{ f.Name | translate }}</span>
							</div>
							<a *ngIf="f.Type == 1" (click)="goToPage('/' + f.Code, $event)" [routerLink]="['/' + f.Code]" [routerLinkActive]="['is-active']" class="menu-item">
								<ion-icon class="menu-icon" [name]="f.Icon"></ion-icon>
								<span class="menu-title">{{ f.Name | translate }}</span>
								<ion-icon
									class="menu-icon pin"
									[name]="f.isPinned ? 'close-circle-outline' : 'pin-outline'"
									*ngIf="countForm >= 7"
									(click)="menuPin(f, $event)"
								></ion-icon>
							</a>
						</ng-container>
					</div>
				</div>
				<div
					class="menu-items"
					[ngClass]="{
						'less-menu': countForm < 7,
						'compact-menu': env?.user?.UserSetting?.IsCompactMenu?.Value,
					}"
					*ngIf="!isShowSearch"
				>
					<!-- Quick access -->
					<div class="menu-group pinned" *ngIf="env.user && countForm >= 7">
						<div class="menu-item menu-submodule">
							<span class="menu-title">{{ 'Quick access' | translate }}</span>
							<ion-button (click)="(isShowSearch = !isShowSearch) && focusSearch()" fill="clear" size="small">
								<ion-icon slot="icon-only" name="search"></ion-icon>
							</ion-button>
						</div>
						<ng-container *ngFor="let f of pinnedForms">
							<a *ngIf="f.Type == 1" (click)="goToPage('/' + f.Code, $event)" [routerLink]="['/' + f.Code]" [routerLinkActive]="['is-active']" class="menu-item">
								<ion-icon class="menu-icon" [name]="f.Icon"></ion-icon>
								<span class="menu-title">{{ f.Name | translate }}</span>

								<ion-icon class="menu-icon pin" [name]="f.isPinned ? 'close-circle-outline' : 'pin-outline'" (click)="menuPin(f, $event)"></ion-icon>
								<ion-text class="menu-icon badge" [color]="f.BadgeColor" *ngIf="f.BadgeNum">{{ f.BadgeNum }}</ion-text>
							</a>
						</ng-container>
					</div>

					<div class="menu-group" *ngIf="env.user">
						<ng-container *ngFor="let f of env.user.Forms">
							<div class="menu-item menu-module clickable" (click)="toogleMenuGroup(f)" *ngIf="f.Type == 10 && f.Code != 'NoGroup' && countForm >= 7">
								<span class="menu-title">{{ f.Name | translate }}</span>
								<ion-text class="menu-icon badge" [color]="f.BadgeColor" *ngIf="!f.isShowDetail && f.BadgeNum">{{ f.BadgeNum }}</ion-text>
								<ion-icon *ngIf="countForm >= 7" class="menu-icon pin" [name]="f.isShowDetail ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
							</div>

							<div
								class="menu-item menu-submodule clickable"
								(click)="toogleMenuForm(f)"
								*ngIf="(f.isShowDetail || countForm < 7) && f.Type == 11 && f.Code != 'NoGroup' && countForm >= 7"
							>
								<span class="menu-title">{{ f.Name | translate }}</span>
								<ion-text class="menu-icon badge" [color]="f.BadgeColor" *ngIf="!f.isShowForm && f.BadgeNum">{{ f.BadgeNum }}</ion-text>
								<ion-icon *ngIf="countForm >= 7" class="menu-icon pin" [name]="f.isShowForm ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
							</div>

							<a
								class="menu-item"
								*ngIf="((f.isShowDetail && f.isShowForm) || countForm < 7) && f.Type == 1"
								(click)="goToPage('/' + f.Code, $event)"
								[routerLink]="['/' + f.Code]"
								[routerLinkActive]="['is-active']"
							>
								<ion-icon class="menu-icon" [color]="f.BadgeColor" [name]="f.Icon"></ion-icon>
								<span class="menu-title">{{ f.Name | translate }}</span>
								<ion-icon
									class="menu-icon pin"
									[name]="f.isPinned ? 'close-circle-outline' : 'pin-outline'"
									*ngIf="countForm >= 7"
									(click)="menuPin(f, $event)"
								></ion-icon>
								<ion-text class="menu-icon badge" [color]="f.BadgeColor" *ngIf="f.BadgeNum">{{ f.BadgeNum }}</ion-text>
							</a>
						</ng-container>
					</div>

					<div class="menu-group">
						<a (click)="goToPage('/login', $event)" [routerLink]="['/login']" [routerLinkActive]="['is-active']" class="menu-item" *ngIf="!(env.user && env.user.Id)">
							<ion-icon class="menu-icon" name="log-in"></ion-icon>
							<span class="menu-title">{{ 'Login' | translate }}</span>
						</a>
					</div>
				</div>
			</ion-content>

			<ion-footer *ngIf="env.user && env.user.Id">
				<a style="height: 56px; line-height: 56px" (click)="presentUserCPPopover($event)" class="menu-item" *ngIf="env?.user?.UserSetting?.IsCompactMenu?.Value">
					<ion-avatar slot="start">
						<ion-img #img [src]="env.user.Avatar || 'assets/avartar-empty.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
					</ion-avatar>
				</a>

				<ion-item (click)="presentUserCPPopover($event)" lines="none" button *ngIf="!env?.user?.UserSetting?.IsCompactMenu?.Value">
					<ion-avatar slot="start">
						<ion-img #img [src]="env.user.Avatar || 'assets/avartar-empty.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
					</ion-avatar>
					<ion-label>
						<h3>
							<ion-text color="primary">{{ env.user.FullName }}</ion-text>
						</h3>
						<p>{{ env.user.UserName }}</p>
						<!-- <p><i>{{'Version: ' + this.env.version}}</i></p> -->
					</ion-label>
				</ion-item>
				<ion-popover #userCPPopover [isOpen]="isUserCPOpen" side="right" alignment="end" class="w300" [dismissOnSelect]="true" (didDismiss)="isUserCPOpen = false">
					<ng-template>
						<ion-content scroll-y="false">
							<ion-list lines="none">
								<ion-item [routerLinkActive]="['is-active']" [routerLink]="['/profile']" button detail="false">
									<ion-avatar slot="start">
										<ion-img #img [src]="env.user.Avatar || 'assets/avartar-empty.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
									</ion-avatar>
									<ion-label>
										<h3>
											<ion-text class="bold" color="dark">{{ env.user.FullName }}</ion-text>
										</h3>
										<p>{{ env.user.UserName }}</p>
									</ion-label>
								</ion-item>
								<ion-item lines="full" button detail="false">
									<ion-icon color="warning" name="notifications" slot="start"></ion-icon>
									<ion-label>{{ 'Notifications' | translate }}</ion-label>
									<!-- <ion-badge color="danger" slot="end">22</ion-badge> -->
								</ion-item>

								<ion-item button [routerLink]="['/profile']">
									<ion-icon color="blue" name="cog-outline" slot="start"></ion-icon>
									<ion-label>{{ 'Settings' | translate }}</ion-label>
								</ion-item>

								<ion-item button id="mode-trigger">
									<ion-icon color="blue" name="contrast-outline" slot="start"></ion-icon>
									<ion-label> {{ 'Theme' | translate }}</ion-label>
								</ion-item>
								<ion-popover trigger="mode-trigger" size="cover" [dismissOnSelect]="false" side="end">
									<ng-template>
										<ion-content>
											<ion-list>
												<ion-radio-group [value]="env?.user?.UserSetting?.Theme?.Value" (ionChange)="changeThemeMode($event)">
													<ion-item>
														<ion-icon color="primary" name="contrast" slot="start"></ion-icon>
														<ion-radio value="OS">{{ 'OS default' | translate }}</ion-radio>
													</ion-item>
													<ion-item>
														<ion-icon color="warning" name="sunny" slot="start"></ion-icon>
														<ion-radio value="Light">{{ 'Light mode' | translate }}</ion-radio>
													</ion-item>
													<ion-item>
														<ion-icon color="purple" name="moon" slot="start"></ion-icon>
														<ion-radio value="Dark">{{ 'Dark mode' | translate }}</ion-radio>
													</ion-item>
												</ion-radio-group>
											</ion-list>
										</ion-content>
									</ng-template>
								</ion-popover>

								<ion-item button id="language-trigger">
									<ion-icon color="blue" name="globe-outline" slot="start"></ion-icon>
									<ion-label> {{ 'Language' | translate }}</ion-label>
								</ion-item>

								<ion-popover trigger="language-trigger" [dismissOnSelect]="true" side="end">
									<ng-template>
										<ion-content>
											<ion-list>
												<ion-item lines="full" button detail="false" (click)="changeLanguage('vi-VN')">
													<ion-icon slot="start" name="flag-vn"> </ion-icon>
													<ion-label>{{ 'Vietnames' | translate }}</ion-label>
													<ion-icon name="checkmark-circle-outline" slot="end" color="success" *ngIf="env.language.isDefault"></ion-icon>
												</ion-item>

												<ion-item lines="full" button (click)="changeLanguage('en-US')" detail="false">
													<ion-icon slot="start" name="flag-us"> </ion-icon>
													<ion-label>{{ 'English' | translate }}</ion-label>
													<ion-icon name="checkmark-circle-outline" slot="end" color="success" *ngIf="!env.language.isDefault"></ion-icon>
												</ion-item>
											</ion-list>
										</ion-content>
									</ng-template>
								</ion-popover>

								<ion-item button>
									<ion-icon color="bluegreen" name="bulb" slot="start"></ion-icon>
									<ion-label>{{ 'Give feed back' | translate }}</ion-label>
								</ion-item>

								<ion-item lines="full" button [routerLinkActive]="['is-active']" [routerLink]="['/help']">
									<ion-icon color="bluegreen" name="help-circle" slot="start"></ion-icon>
									<ion-label> {{ 'Help & Support' | translate }}</ion-label>
								</ion-item>

								<ion-item lines="none" (click)="logout()" button detail="false">
									<ion-icon color="pink" name="log-out" slot="start"></ion-icon>
									<ion-label>{{ 'Sign out' | translate }}</ion-label>
								</ion-item>
							</ion-list>
						</ion-content>
					</ng-template>
				</ion-popover>
			</ion-footer>
		</ion-menu>

		<ion-router-outlet id="main-content" main [swipeGesture]="false">
			<ion-header class="menu-toogle-btn" *ngIf="env.user && env.user.Id && showMenu">
				<ion-toolbar>
					<ion-buttons slot="start">
						<ion-back-button *ngIf="canGoBack"></ion-back-button>
						<ion-menu-button *ngIf="!canGoBack"></ion-menu-button>

						<ion-button
							class="hide-small"
							(click)="env.user.UserSetting.IsCompactMenu.Value = !env.user.UserSetting.IsCompactMenu.Value; env.setStorage('UserProfile', env.user)"
						>
							<ion-icon slot="icon-only" name="menu-outline"></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<div class="safe-holder">
				<div class="empty-message splash" *ngIf="!(env.user && env.user.Id)">
					<div class="random-img" *ngIf="randomImg">
						<img appSvgImage [src]="randomImg" />
					</div>
					<div class="message">
						<div class="title">
							<!-- <ion-icon name="shipping-fast"></ion-icon> -->
						</div>
						<div class="detail">
							<br />
							<ion-text color="danger" *ngIf="isConnectFail">
								{{ 'Cannot connect to server.' | translate }}
								<br />
								{{ 'Please try again.' | translate }}

								<br />

								<ion-button size="small" fill="outline" href=".">
									<ion-icon slot="start" name="refresh"></ion-icon>
									{{ 'Reload' | translate }}
								</ion-button>
							</ion-text>

							<span *ngIf="!isConnectFail" class="info">
								{{ 'Connecting to server' | translate }}
								<br />
								{{ 'Please wait for a few moments' | translate }}
								<br />
								<ion-spinner name="dots"></ion-spinner>
							</span>
						</div>
					</div>
				</div>
			</div>
		</ion-router-outlet>

		<ion-menu
			contentId="main-content"
			type="overlay"
			id="help-detail-side"
			side="end"
			menuId="appHelpDetail"
			[swipeGesture]="false"
			[hidden]="!showHelp"
			*ngIf="showAppMenuHelp"
		>
			<app-help-detail *ngIf="env.user && env.user.Id && pageConfigPageName && showHelp" [helpCode]="pageConfigPageName" (closeHelp)="closeHelp()"></app-help-detail>
		</ion-menu>
	</ion-split-pane>

	<div class="app-footer">
		<div class="flex-center">
			<span id="change-app-server" class="text" *ngIf="!env.user?.Id">
				<ng-container *ngFor="let s of _environment.appServers">
					<ion-icon [color]="s.Color" [name]="s.Icon" [title]="s.Name" *ngIf="_environment.appDomain == s.Code"></ion-icon>
				</ng-container>

				<span>&nbsp;{{ 'Change server' | translate }}</span>

				<ion-popover trigger="change-app-server" triggerAction="click" class="w300" [dismissOnSelect]="true">
					<ng-template>
						<ion-content scroll-y="false">
							<ion-list>
								<ion-list-header>
									<ion-label>{{ 'Change server' | translate }}</ion-label>
								</ion-list-header>
								<ion-item *ngFor="let s of _environment.appServers" button detail="false" (click)="changeServer(s)">
									<ion-icon aria-hidden="true" [color]="s.Color" [name]="s.Icon" slot="start" size="small"></ion-icon>
									<ion-label>
										<h2>{{ s.Name }}</h2>
										<p>{{ s.Code }}</p>
									</ion-label>
									<ion-icon name="checkmark-circle-outline" slot="end" color="success" *ngIf="_environment.appDomain == s.Code"></ion-icon>
								</ion-item>
							</ion-list>
						</ion-content>
					</ng-template>
				</ion-popover>
			</span>

			<ng-container *ngFor="let s of _environment.appServers">
				<span class="text" *ngIf="env.user?.Id && s.Name != 'Main server' && _environment.appDomain == s.Code" (click)="env.showTranslateMessage(s.Name, s.Color)">
					<ion-icon [color]="s.Color" [name]="s.Icon" [title]="s.Name"></ion-icon>
				</span>
			</ng-container>

			<a class="text user-name" (click)="goToPage('/profile', $event, 'forward')" [routerLink]="['/profile']" *ngIf="env.user && env.user.Id">{{ env.user.UserName }}</a>
			<a class="text" href=".">{{ appVersion }} </a>
		</div>
		<div class="flex-center">
			<span class="text" *ngFor="let m of appMessages">
				<ion-icon [ngClass]="{ blink: m.IsBlink }" [color]="m.Color" [name]="m.Icon"></ion-icon>
				<span>{{ m.Message }}</span>
			</span>

			<!-- <span class="text" *ngIf="1 || isConnectFail" title="không kết nối được server...">
        <ion-icon color="danger" name="alert-circle"></ion-icon>
      </span> -->

			<!-- <span class="text">
        <ion-icon color="warning" name="notifications"></ion-icon>
        <span>10</span>
      </span> -->

			<span *ngIf="!env.language.isDefault" (click)="changeLanguage('vi-VN')" class="text" style="font-size: x-large"> <ion-icon name="flag-vn"></ion-icon></span>
			<span *ngIf="env.language.isDefault" (click)="changeLanguage('en-US')" class="text" style="font-size: x-large"> <ion-icon name="flag-us"></ion-icon></span>

			<span class="text" *ngIf="!env.networkInfo.isOnline">
				<ion-icon [color]="env.networkInfo.isOnline ? 'success' : 'danger'" name="wifi"></ion-icon>
			</span>
		</div>
	</div>
</ion-app>
