body {
	background: var(--ion-background-color)
}

@supports (padding-top: 20px) {
	html {
		--ion-safe-area-top: var(--ion-statusbar-padding)
	}
}

@supports (padding-top: constant(safe-area-inset-top)) {
	html {
		--ion-safe-area-top: constant(safe-area-inset-top);
		--ion-safe-area-bottom: constant(safe-area-inset-bottom);
		--ion-safe-area-left: constant(safe-area-inset-left);
		--ion-safe-area-right: constant(safe-area-inset-right)
	}
}

@supports (padding-top: env(safe-area-inset-top)) {
	html {
		--ion-safe-area-top: env(safe-area-inset-top);
		--ion-safe-area-bottom: env(safe-area-inset-bottom);
		--ion-safe-area-left: env(safe-area-inset-left);
		--ion-safe-area-right: env(safe-area-inset-right)
	}
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none
}

html {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%
}

html:not(.hydrated) body {
	display: none
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	transform: translateZ(0);
	text-rendering: optimizeLegibility;
	overflow: hidden;
	touch-action: manipulation;
	-webkit-user-drag: none;
	-ms-content-zooming: none;
	word-wrap: break-word;
	overscroll-behavior-y: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none
}

html {
	font-family: var(--ion-font-family)
}

:root {
	--fc-button-bg-color: var(--ion-color-primary) !important;
	--fc-button-border-color: var(--ion-color-primary) !important;
	--fc-button-hover-bg-color: var(--ion-color-primary-share) !important;
	--fc-button-hover-border-color: var(--ion-color-primary) !important;
	--fc-button-active-bg-color: var(--menu-background-item-active) !important;
	--fc-button-active-border-color: var(--ion-color-primary-share) !important
}

@page {
	margin: 0
}

@media print {
	html {
		line-height: 1.15;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%
	}

	body {
		margin: 0
	}

	body,
	app-root {
		contain: none !important;
		position: relative !important
	}

	body {
		overflow: initial
	}

	body {
		font: 9pt sans-serif;
		line-height: 1.3
	}
}

html {
	font-size: 10px !important
}

body {
	font-size: 1.3rem
}

:root {
	--fc-daygrid-event-dot-width: 8px
}

ion-button {
	height: 2.8em;
}

.validation-summary-errors {
	color: red;
	text-align: left;
	margin-left: -16px;
}

//  .c-control .c-input {
//  	font-size: 2rem;
//  	height: 3.375rem;
//  }

//  .inline-control .c-label {
//  	white-space: nowrap;
//  	position: absolute;
//  	padding: 4px;
//  	width: auto;
//  	font-weight: normal;
//  	border: solid transparent;
//  	font-size: x-large;
//  	line-height: 2.375rem;
//  }

.inline-control .c-input {
	text-align: right;
}

.input-money {
	font-weight: bold;
}

::ng-deep {
	ion-toolbar::part(container) {
		padding-inline-start: 0 !important;
		padding-inline-end: 0 !important;
	}

	.qrc{

		margin: 32px;;
	}
}

.coupon {
	margin-right: 4px;
	margin-left: 4px;
}

.coupon .coupon-left {
	flex-direction: row;
	border-right: dotted 2px var(--table-row-background);
	min-width: 30px;
	padding: 5px;
}

.c-checkbox {
	display: inline-block;
	margin: 0px 0.5rem 0.5rem 0;
	width: 2rem;
	height: 2rem;
	margin-top: 0.25em;
	vertical-align: top;
	background-color: var(--ion-color-primary-contrast);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(var(--ion-color-primary-rgb), .25);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	print-color-adjust: exact;
}

.c-checkbox[type=radio],
.c-checkbox.radio {
	border-radius: 50%;
}

.c-checkbox:checked[type=checkbox] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
	background-color: var(--ion-color-primary);
	border-color: var(--ion-color-primary);
}

.c-checkbox:checked[type=radio] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
	background-color: var(--ion-color-primary);
	border-color: var(--ion-color-primary);
}


#listGroupRadioGrid5:checked~#fsListGroupRadioGrid5 {
	display: block !important;
}


.row-full {
	margin-bottom: 16px;
}

.logo-contain {
	padding-bottom: 0vh;
	background-color: transparent;
}

.logo {
	margin: auto;
	width: 90vw;
	height: 20vh;
	max-width: 250px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	// background-image: url($wide-logo-url);
}

.tras-label {
	margin: 0px;
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 45px;
	border: 0px;
	background: transparent;
	cursor: pointer;
	appearance: none;
	outline: none;
	display: flex;
	align-items: center;
	opacity: 0;
}

.bank-select ion-card {
	cursor: pointer;
	border-radius: 10px;
	padding: 4px;
	transition: 0.2s;
}

.bank-select ion-card.selected {
	border: 2px solid var(--ion-color-success);
	transform: scale(1.05);
}

.payment-text {
	font-weight: 500;
}

.bank-item {
	border: 2px solid transparent;
	border-radius: 8px;
	padding: 6px;
	cursor: pointer;
	transition: all 0.2s ease;
}


.bank-item.active {
	border-color: var(--ion-color-primary); // hoáº·c #3880ff
	box-shadow: 0 0 0 2px rgba(56, 128, 255, 0.2);
}

.btn-paid {
	--background: linear-gradient(135deg, #2ecc71, #27ae60);
	--background-hover: linear-gradient(135deg, #29c76f, #219150);
	--background-activated: #219150;

	--color: #fff;
	--border-radius: 10px;

	font-weight: 600;
	font-size: 15px;
	height: 42px;

	ion-icon {
		font-size: 20px;
	}

	box-shadow: 0 4px 10px rgba(39, 174, 96, 0.35);
}

