<div *ngIf="report" class="chart-holder" [class]="[viewMode]" [ngClass]="{ glass: viewMode != 'mini' }">
	<!-- chart title -->
	<ion-item lines="none" *ngIf="viewMode == 'dashboard'">
		<ion-icon [name]="report.Icon || 'stats-chart'" [color]="report.Color || 'primary'" slot="start"></ion-icon>
		<ion-label color="primary" (click)="isToolPopoverOpen = false; onOpenReport()" class="clickable ion-text-nowrap">
			<h2>{{ report.Name }}</h2>
			<p>
				<small>
					{{ report.Remark }}
				</small>
			</p>
			<!-- <p>
        <small>
          {{ rpt.formatTimeConfig(report.DataConfig?.TimeFrame.From) }}
          <span *ngIf="!compareObjects(report.DataConfig?.TimeFrame.From, report.DataConfig?.TimeFrame.To)">
            →
            {{ rpt.formatTimeConfig(report.DataConfig?.TimeFrame.To) }}
          </span>

          <span *ngIf="dataFetchDate" [class]="'updatedtime updatedtime-label' + report.Id">
            {{ 'Updated' | translate }}:
            {{ dataFetchDate | dateFriendly | async }}
          </span>
        </small>
      </p> -->
		</ion-label>

		<!-- <ion-button
      title="{{ 'Open report' | translate }}"
      fill="clear"
      slot="end"
      (click)="onOpenReport()"
      *ngIf="_gridItem?.cols > 1"
      class="gridster-item-content ion-hide-sm-down"
    >
      <ion-icon color="dark" slot="icon-only" name="open-outline"></ion-icon>
    </ion-button> -->

		<!-- <ion-button
      title="{{ 'Reload' | translate }}"
      fill="clear"
      slot="end"
      (click)="onReloadData()"
      *ngIf="_gridItem?.cols > 1"
      class="gridster-item-content ion-hide-sm-down"
    >
      <ion-icon color="dark" slot="icon-only" name="reload-outline"></ion-icon>
    </ion-button> -->

		<ion-button title="{{ 'More...' | translate }}" (click)="presentToolPopover($event)" fill="clear" slot="end" class="gridster-item-content more-btn">
			<ion-icon color="dark" slot="icon-only" name="ellipsis-vertical"></ion-icon>
		</ion-button>

		<ion-popover #toolPopover class="w300" [isOpen]="isToolPopoverOpen" (didDismiss)="isToolPopoverOpen = false; showSummaryCardsPopover = false" [backdropDismiss]="true">
			<ng-template>
				<ion-content scroll-y="false">
					<ion-list>
						<ion-item [button]="true" [detail]="false" (click)="isToolPopoverOpen = false; onOpenReport()">
							<ion-icon color="dark" slot="icon-only" name="open-outline" slot="start"></ion-icon>
							<ion-text color="dark">{{ 'Open report' | translate }}</ion-text>
						</ion-item>
						<ion-item [button]="true" [detail]="false" (click)="isToolPopoverOpen = false; onReloadData()">
							<ion-icon color="dark" slot="icon-only" name="reload-outline" slot="start"></ion-icon>
							<ion-text color="dark">{{ 'Reload' | translate }}</ion-text>
						</ion-item>
						<!-- delete -->
						<ion-item lines="none" [button]="true" [detail]="false" (click)="isToolPopoverOpen = false; onDeleteClick($event)">
							<ion-icon color="danger" slot="icon-only" name="trash" slot="start"></ion-icon>
							<ion-text color="danger">{{ 'Delete' | translate }}</ion-text>
						</ion-item>

						<!-- widget type -->
						<ion-list-header>
							<ion-label>{{ 'Type' | translate }}</ion-label>
						</ion-list-header>

						<ng-container *ngFor="let t of ['Chart', 'Summary card']">
							<ion-item [button]="true" [detail]="false" (click)="onTypeChanged(t)" *ngIf="expressionType != 'Chart' || report.DataConfig.MeasureBy.length">
								<ion-label>{{ t | translate }}</ion-label>
								<ion-icon name="checkmark-circle-outline" slot="end" color="success" *ngIf="_gridItem?.Config?.Type == t"></ion-icon>
							</ion-item>
						</ng-container>

						<!-- chart dimension -->
						<ion-list-header *ngIf="_gridItem?.Config?.Type == 'Chart'">
							<ion-label>{{ 'Chart dimension' | translate }}</ion-label>
						</ion-list-header>
						<ng-container *ngIf="_gridItem?.Config?.Type == 'Chart'">
							<ion-item [button]="true" [detail]="false" (click)="onViewDimensionChange(m.Title || m.Property)" *ngFor="let m of report.DataConfig.MeasureBy">
								<ion-label>{{ m.Title || m.Property | translate }}</ion-label>
								<ion-icon
									name="checkmark-circle-outline"
									slot="end"
									color="success"
									*ngIf="_gridItem?.Config?.ChartDimension == (m.Title || m.Property)"
								></ion-icon>
							</ion-item>
						</ng-container>

						<!-- summary card -->
						<ion-list-header *ngIf="_gridItem?.Config?.Type == 'Summary card'">
							<ion-label>{{ 'Summary cards' | translate }}</ion-label>
						</ion-list-header>
						<ng-container *ngIf="_gridItem?.Config?.Type == 'Summary card'">
							<ion-item [button]="true" [detail]="false" (click)="onSummaryCardsChanged(m)" *ngFor="let m of report.DataConfig.MeasureBy">
								<ion-label>{{ m.Title || m.Property | translate }}</ion-label>
								<ion-icon
									name="checkmark-circle-outline"
									slot="end"
									color="success"
									*ngIf="_gridItem?.Config?.SummaryCards && _gridItem?.Config?.SummaryCards?.indexOf(m.Title || m.Property) > -1"
								></ion-icon>
							</ion-item>
						</ng-container>
					</ion-list>
				</ion-content>
			</ng-template>
		</ion-popover>
	</ion-item>

	<!-- chart title -->
	<ion-button class="toggle-mini-btn" title="{{ 'Resize' | translate }}" size="small" fill="clear" slot="end" *ngIf="viewMode != 'dashboard'" (click)="toggleMiniChart()">
		<ion-icon color="dark" slot="icon-only" name="resize"></ion-icon>
	</ion-button>

	<!-- loading -->
	<div class="loading fullfill" *ngIf="isLoading">
		<ion-spinner color="primary" name="dots"></ion-spinner>
	</div>

	<!-- statistic in full mode -->
	<div class="statistic-row" *ngIf="viewMode == 'full'">
		<app-card-multi-row
			[title]="m.Title || m.Property"
			[value]="m.Value"
			[comparitionValue]="m.ComparitionValue"
			[ngClass]="{ selected: viewDimension == (m.Title || m.Property) }"
			*ngFor="let m of report.DataConfig.MeasureBy"
			(click)="onViewDimensionChange(m.Title || m.Property)"
		></app-card-multi-row>
	</div>

	<!-- statistic in dashboard mode -->
	<div class="statistic-row dashboard" *ngIf="viewMode == 'dashboard' && _gridItem?.Config?.Type == 'Summary card' && _gridItem?.Config?.SummaryCards as ls">
		<ng-container *ngFor="let s of ls">
			<ng-container *ngFor="let m of report.DataConfig.MeasureBy">
				<app-card-multi-row
					*ngIf="(m.Title || m.Property) == s"
					class="selected"
					[title]="m.Title || m.Property"
					[value]="m.Value"
					[comparitionValue]="m.ComparitionValue"
				></app-card-multi-row>
			</ng-container>
		</ng-container>
	</div>

	<!-- chart -->
	<app-e-chart
		class="app-chart"
		*ngIf="(viewMode != 'dashboard' || (viewMode == 'dashboard' && _gridItem?.Config?.Type == 'Chart')) && rptLoaded && (rawData.length || report.DataConfig.Schema.Id == null)"
		[reportId]="reportId"
		[viewMode]="viewMode"
		[chartType]="chartType"
		[chartScript]="chartScript"
		[chartOption]="chartOption"
		[dimensions]="dimensions"
		[viewDimension]="viewDimension"
		[compareBy]="compareBy"
		[measureBy]="measureBy"
		[dataIntervalProperty]="dataIntervalProperty"
		[dataIntervalType]="dataIntervalType"
		[data]="rawData"
		[comparitionData]="comparitionData"
		(chartClick)="onChartClick($event)"
		(dataChange)="onDataChange($event)"
	></app-e-chart>

	<!-- timeframe picker in full mode-->
	<form [formGroup]="form" (submit)="onChangeTimeRange($event)">
		<ion-label color="primary" class="ion-text-nowrap ion-no-margin flex-nowrap" *ngIf="viewMode != 'mini'">
			<app-input-control
				[field]="{
					id: 'From',
					secondaryId: 'To',
					type: 'time-frame',
					label: 'Time range',
					form: form.controls.TimeFrame,
				}"
				(change)="onChangeTimeRange($event)"
			></app-input-control>

			<p>
				<ng-container formGroupName="TimeFrame">
					<span *ngIf="dataFetchDate" [class]="'updatedtime updatedtime-label' + report.Id">
						<small>{{ 'Updated' | translate }}: {{ dataFetchDate | dateFriendly | async }}</small>
					</span>
				</ng-container>
			</p>
		</ion-label>
	</form>
</div>
