<div *ngIf="report" class="chart-holder" [class]="[viewMode]" [ngClass]="{ 'box-shadow': viewMode != 'mini' }">
  <ion-item lines="none" *ngIf="viewMode == 'dashboard'">
    <ion-icon [name]="report.Icon || 'stats-chart'" [color]="report.Color || 'primary'" slot="start"></ion-icon>
    <ion-label color="primary" (click)="isToolPopoverOpen = false; onOpenReport()" class="clickable">
      <h2>{{ report.Name }}</h2>
      <p>
        <small>
          {{ rpt.formatTimeConfig(report.DataConfig?.TimeFrame.From) }}
          <span *ngIf="!compareObjects(report.DataConfig?.TimeFrame.From, report.DataConfig?.TimeFrame.To)">
            →
            {{ rpt.formatTimeConfig(report.DataConfig?.TimeFrame.To) }}
          </span>

          <span *ngIf="dataFetchDate" [class]="'updatedtime updatedtime-label' + report.Id">
            {{ 'Updated' | translate }}:
            {{ dataFetchDate | date: 'HH:mm dd/MM' }}
          </span>
        </small>
      </p>
    </ion-label>

    <ion-button
      title="{{ 'Open report' | translate }}"
      fill="clear"
      slot="end"
      (click)="onOpenReport()"
      *ngIf="_gridItem?.cols > 1"
      class="gridster-item-content ion-hide-sm-down"
    >
      <ion-icon color="dark" slot="icon-only" name="open-outline"></ion-icon>
    </ion-button>

    <ion-button
      title="{{ 'Reload' | translate }}"
      fill="clear"
      slot="end"
      (click)="onReloadData()"
      *ngIf="_gridItem?.cols > 1"
      class="gridster-item-content ion-hide-sm-down"
    >
      <ion-icon color="dark" slot="icon-only" name="reload-outline"></ion-icon>
    </ion-button>

    <ion-button
      title="{{ 'More...' | translate }}"
      (click)="presentToolPopover($event)"
      fill="clear"
      slot="end"
      class="gridster-item-content"
    >
      <ion-icon color="dark" slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>

    <ion-popover
      #toolPopover
      [isOpen]="isToolPopoverOpen"
      (didDismiss)="isToolPopoverOpen = false"
      [dismissOnSelect]="true"
      [backdropDismiss]="true"
    >
      <ng-template>
        <ion-content scroll-y="false">
          <ion-list>
            <ion-item [button]="true" [detail]="false" (click)="isToolPopoverOpen = false; onOpenReport()">
              <ion-icon color="dark" slot="icon-only" name="open-outline" slot="start"></ion-icon>
              <ion-text color="dark">{{ 'Open report' | translate }}</ion-text>
            </ion-item>
            <ion-item [button]="true" [detail]="false" (click)="isToolPopoverOpen = false; onReloadData()">
              <ion-icon color="dark" slot="icon-only" name="reload-outline" slot="start"></ion-icon>
              <ion-text color="dark">{{ 'Reload' | translate }}</ion-text>
            </ion-item>

            <ion-item
              lines="none"
              [button]="true"
              [detail]="false"
              (click)="isToolPopoverOpen = false; onDeleteClick($event)"
            >
              <ion-icon color="danger" slot="icon-only" name="trash" slot="start"></ion-icon>
              <ion-text color="danger">{{ 'Delete' | translate }}</ion-text>
            </ion-item>
            <!-- <ion-item [button]="true" [detail]="false" routerDirection="forward" [routerLink]="['/'+pageConfig.pageName+'/0/']" (click)="$event.stopPropagation(); this.popoverCtrl.dismiss();">
              <ion-icon color="success" slot="icon-only" name="add-outline" slot="end"></ion-icon>
              <ion-text color="success">Thêm đơn mới</ion-text>
            </ion-item> -->
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-item>

  <ion-button
    class="toggle-mini-btn"
    title="{{ 'Resize' | translate }}"
    size="small"
    fill="clear"
    slot="end"
    *ngIf="viewMode != 'dashboard'"
    (click)="toggleMiniChart()"
  >
    <ion-icon color="dark" slot="icon-only" name="resize"></ion-icon>
  </ion-button>
  <div class="loading fullfill" *ngIf="isLoading">
    <ion-spinner color="primary" name="dots"></ion-spinner>
  </div>

  <!-- || (  && _gridItem?.rows == 1) -->
  <div class="statistic-row" *ngIf="viewMode == 'full'">
    <app-card-multi-row
      [title]="m.Title || m.Property"
      [value]="m.Value"
      [percent]="0"
      [ngClass]="{ selected: viewDimension == (m.Title || m.Property) }"
      *ngFor="let m of report.DataConfig.MeasureBy"
      (click)="onViewDimensionChange(m.Title || m.Property)"
    ></app-card-multi-row>
  </div>

  <div class="statistic-row" *ngIf="viewMode == 'dashboard' && _gridItem?.WidgetConfig?.Statistics as ls">
    <ng-container *ngFor="let s of ls">
      <ng-container *ngFor="let m of report.DataConfig.MeasureBy">
        <app-card-multi-row
          *ngIf="m.Title == s"
          class="selected"
          [title]="m.Title || m.Property"
          [value]="m.Value"
          [percent]="0"
        ></app-card-multi-row>
      </ng-container>
    </ng-container>
  </div>

  <app-e-chart
    class="app-chart"
    *ngIf="
      !(viewMode == 'dashboard' && _gridItem?.WidgetConfig?.Statistics) &&
      rptLoaded &&
      (rawData.length || report.DataConfig.Schema.Id == null)
    "
    [reportId]="reportId"
    [viewMode]="viewMode"
    [chartType]="chartType"
    [chartScript]="chartScript"
    [chartOption]="chartOption"
    [dimensions]="dimensions"
    [viewDimension]="viewDimension"
    [compareBy]="compareBy"
    [measureBy]="measureBy"
    [dataIntervalProperty]="dataIntervalProperty"
    [dataIntervalType]="dataIntervalType"
    [data]="rawData"
    (chartClick)="onChartClick($event)"
    (dataChange)="onDataChange($event)"
  ></app-e-chart>

  <form [formGroup]="form" (submit)="onChange($event)">
    <ion-item lines="none" *ngIf="viewMode == 'full'">
      <ion-icon name="server-outline" color="success" slot="start"></ion-icon>
      <ion-label color="primary">
        <ng-container formGroupName="TimeFrame">
          <p>
            <!-- class="clickable"
              (click)="presentDatePicker($event, form.controls.TimeFrame.controls.From, 'TimeFrame-From')" -->
            <a
              
            >
              {{ rpt.formatTimeConfig(report.DataConfig?.TimeFrame.From) }}
            </a>
            →
            <!-- class="clickable"
              (click)="presentDatePicker($event, form.controls.TimeFrame.controls.To, 'TimeFrame-To')" -->
            <a
              
            >
              {{ rpt.formatTimeConfig(report.DataConfig?.TimeFrame.To) }}
            </a>

            <span *ngIf="dataFetchDate" [class]="'updatedtime updatedtime-label' + report.Id">
              <small>{{ 'Updated' | translate }}: {{ dataFetchDate | date: 'HH:mm dd/MM' }}</small>
            </span>

            <!-- datepicker -->
            <ion-popover class="w300" #popover [isOpen]="isOpenDatePicker" (didDismiss)="dismissDatePicker()">
              <ng-template>
                <ion-content appScrollbarTheme>
                  <ion-segment
                    scrollable="false"
                    (ionChange)="segmentTimeframeChanged($event)"
                    [value]="pickerControl.controls.Type.value"
                    mode="md"
                  >
                    <ion-segment-button value="Relative">
                      <ion-label>{{ 'Relative' | translate }}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="Absolute">
                      <ion-label>{{ 'Absolute' | translate }}</ion-label>
                    </ion-segment-button>
                  </ion-segment>

                  <ion-list *ngIf="pickerControl.controls.Type.value == 'Relative'">
                    <div>
                      <ng-container *ngIf="pickerGroupName == 'CompareTo'">
                        <ion-item
                          button
                          detail="false"
                          *ngFor="let i of rpt.commonOptions.compareTo"
                          (click)="pickDate(i.timeConfig)"
                        >
                          <ion-icon name="timer-outline" slot="start"></ion-icon>
                          <ion-label>{{ i.name }}</ion-label>
                        </ion-item>
                      </ng-container>
                      <ng-container *ngIf="pickerGroupName != 'CompareTo'">
                        <ion-item
                          button
                          detail="false"
                          *ngFor="let i of rpt.commonOptions.timeframe"
                          (click)="pickDate(i.timeConfig)"
                        >
                          <ion-icon name="timer-outline" slot="start"></ion-icon>
                          <ion-label>{{ i.name }}</ion-label>
                        </ion-item>
                      </ng-container>
                    </div>
                    <ion-item>
                      <app-input-control
                        style="position: absolute; right: 1rem; margin: 1rem; z-index: 1; bottom: 10px"
                        [form]="pickerControl"
                        type="select"
                        id="Period"
                        [dataSource]="_timePeriodList"
                        bindValue="code"
                        bindLabel="name"
                        (change)="onChange($event)"
                      ></app-input-control>
                      <app-form-control
                        style="width: 100%"
                        [form]="pickerControl"
                        type="number"
                        id="Amount"
                        (change)="onChange($event)"
                      ></app-form-control>
                    </ion-item>
                  </ion-list>

                  <div *ngIf="pickerControl.controls.Type.value == 'Absolute'">
                    <ion-datetime
                      [locale]="env.language.current"
                      [value]="pickerControl.controls.Value.value"
                      [firstDayOfWeek]="1"
                      (ionChange)="pickDate({ Type: 'Absolute', Value: $event })"
                      mode="ios"
                      format="YYYY-MM-DDTHH:mm:ssZ"
                    ></ion-datetime>
                  </div>
                </ion-content>
                <ion-button class="ion-margin" size="small" expand="block" (click)="dismissDatePicker(true)"
                  >Apply</ion-button
                >
              </ng-template>
            </ion-popover>
          </p>
        </ng-container>
      </ion-label>
    </ion-item>
  </form>
</div>
