<ion-header class="head-bg ion-no-border">
  <ion-toolbar class="transparent ion-no-border">
    <!-- <ion-buttons slot="start">
      <ion-button class="back-btn" color="light" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button class="back-btn" color="light">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title color="light"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="gray">
  <ion-fab class="fake-header-bg" vertical="top" horizontal="left" slot="fixed">
  </ion-fab>
  <div class="main-content">

    <div class="summary">
      <div class="time">{{'erp.app.pages.sys.register.sign-up' | translate}}</div>
      <div class="date">{{'erp.app.pages.sys.register.art-shipper-acc' | translate}}</div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="10" push-sm="1" size-md="8" push-md="2" size-lg="8" push-lg="2" size-xl="6"
          push-xl="3">
          <ion-card no-margin class="booking">

            <div class="logo"></div>

            <ion-card-header>
              <ion-card-title>
                <!-- <ion-text color="tertiary">
                  NAME
                </ion-text> -->
              </ion-card-title>
              <ion-card-subtitle text-center>
                <!-- <ion-text color="secondary">DOB</ion-text> -->
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-item>
                <ion-label color="primary" position="stacked">{{'erp.app.pages.sys.register.full-name' | translate}} <ion-text color="danger">(*)</ion-text>
                </ion-label>
                <ion-input required="true" [(ngModel)]="item.FullName" placeholder="{{'erp.app.pages.sys.register.full-name-placeholder' | translate}}">
                </ion-input>
              </ion-item>

              <!-- <ion-item>
                <ion-label color="primary" position="stacked">{{'erp.app.pages.sys.register.dob' | translate}}</ion-label>
                <ion-input [(ngModel)]="item.DOB" placeholder="{{'erp.app.pages.sys.register.dob-placeholder' | translate}}"></ion-input>
              </ion-item> -->

              <ion-item>
                <ion-label color="primary" position="stacked">{{'erp.app.pages.sys.register.email' | translate}} <ion-text color="danger">(*)</ion-text>
                </ion-label>
                <ion-input [(ngModel)]="item.EmailAddress" inputmode="email" type="email"
                  placeholder="{{'erp.app.pages.sys.register.email-address-placeholder' | translate}}"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="primary" position="stacked">{{'erp.app.pages.sys.register.phone' | translate}} <ion-text color="danger">(*)</ion-text>
                </ion-label>
                <ion-input [(ngModel)]="item.PhoneNumber" required="true" inputmode="tel" type="tel"
                  placeholder="{{'erp.app.pages.sys.register.phone-placeholder' | translate}}"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="primary" position="stacked">{{'erp.app.pages.sys.register.password' | translate}} <ion-text color="danger">(*)</ion-text>
                </ion-label>
                <ion-input [(ngModel)]="item.Password" required="true" inputmode="password" type="password"
                  placeholder="{{'erp.app.pages.sys.register.password-placeholder' | translate}}"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="primary" position="stacked">{{'erp.app.pages.sys.register.confirm-password' | translate}} <ion-text color="danger">(*)</ion-text>
                </ion-label>
                <ion-input [(ngModel)]="item.ConfirmPassword" required="true" inputmode="password" type="password"
                  placeholder="{{'erp.app.pages.sys.register.confirm-password-placeholder' | translate}}"></ion-input>
              </ion-item>

              <div class="ion-padding"></div>
              <div text-center text-md-right>
                <ion-button shape="round" (click)="register()">
                  {{'erp.app.pages.sys.register.register' | translate}}
                </ion-button>
              </div>

              <div class="ion-padding"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


</ion-content>