.c-input{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .no-padding{
        --padding-start: 0;
        --padding-end: 0;
    }
}
.content-btn ion-icon{
    display:none;
}
.content-btn:hover > ion-icon{
    display:block;
}
