<form [formGroup]="form" *ngIf="_report" (submit)="onChange($event)">
  <ion-accordion-group [value]="['second', 'third']" multiple="true">
    <ion-accordion value="second" style="background: transparent">
      <ion-item slot="header" color="light">
        <ion-label>{{ 'Report data source' | translate }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" style="background: transparent">
        <ng-container formGroupName="Schema" *ngIf="canChangeReportConfig">
          <app-form-control
            appendTo="#ng-select-holder"
            [field]="{
              id: 'Id',
              label: 'Data from',
              type: 'ng-select-schema',
              dataSource: _IDSchemaDataSource,
              clearable: 'true',
              bindLabel: 'Name',
              bindValue: 'Id',
              form: form.controls.Schema
            }"
            (change)="changeSchema($event)"
          ></app-form-control>
        </ng-container>
        <app-form-control
          *ngIf="canChangeReportConfig"
          [form]="form.controls.TimeFrame"
          type="ng-select"
          id="Dimension"
          label="Time field"
          placeholder="Please enter data.."
          [dataSource]="_schemaDetailsList"
          bindValue="Code"
          bindLabel="Name"
          (change)="onChange($event)"
        ></app-form-control>
        <ng-container formGroupName="TimeFrame" *ngIf="form.controls.TimeFrame.controls.Dimension.value">
          <div class="c-control">
            <label class="c-label">{{ 'Time range' | translate }}</label>
            <span class="c-input btns">
              <ion-button
                fill="clear"
                size="small"
                (click)="presentDatePicker($event, form.controls.TimeFrame.controls.From, 'TimeFrame-From')"
              >
                <ion-icon color="dark" slot="start" name="calendar-outline"></ion-icon>
                {{ rpt.formatTimeConfig(form.controls.TimeFrame.controls.From.getRawValue()) }}
              </ion-button>

              <ion-button
                fill="clear"
                size="small"
                (click)="presentDatePicker($event, form.controls.TimeFrame.controls.To, 'TimeFrame-To')"
              >
                <ion-icon color="dark" slot="start" name="arrow-forward"></ion-icon>
                {{ rpt.formatTimeConfig(form.controls.TimeFrame.controls.To.getRawValue()) }}
              </ion-button>
            </span>
          </div>
        </ng-container>

        <div class="c-control" *ngIf="form.controls.TimeFrame.controls.Dimension.value">
          <label class="c-label">{{ 'Commpare to' | translate }}</label>
          <span class="c-input btns">
            <ion-button
              class="no-padding"
              fill="clear"
              size="small"
              (click)="presentDatePicker($event, form.controls.CompareTo, 'CompareTo')"
            >
              <ion-icon color="dark" slot="start" name="timer-outline"></ion-icon>
              {{ rpt.formatTimeConfig(form.controls.CompareTo.getRawValue(), true) }}
            </ion-button>
          </span>
        </div>

        <ng-container formGroupName="Interval" *ngIf="canChangeReportConfig">
          <div class="c-control">
            <label class="c-label">{{ 'Time interval for the chart' | translate }}</label>
            <span class="c-input btns">
              <ion-button
                fill="clear"
                size="small"
                (click)="presentPopover($event, form.controls.Interval, 'Interval')"
              >
                <ion-icon color="dark" slot="start" name="bar-chart-outline"></ion-icon>

                {{ form.controls.Interval?.controls.Title?.value || form.controls.Interval?.controls.Property?.value }}
                <ion-text color="dark">&nbsp; {{ 'by' | translate }} &nbsp;</ion-text>
                {{ form.controls.Interval?.controls.Type?.value }}
              </ion-button>
            </span>
          </div>
        </ng-container>

        <ng-container formGroupName="CompareBy" *ngIf="canChangeReportConfig">
          <div class="c-control">
            <label class="c-label">{{ 'Compare By' | translate }}</label>
            <span class="c-input" style="flex-wrap: wrap; height: auto">
              <ion-chip
                color="blue"
                *ngFor="let c of form.controls.CompareBy.controls"
                style="height: auto; margin: 0; margin-right: 2px"
              >
                <ion-label (click)="presentPopover($event, c, 'CompareBy')">{{
                  c.get('Title')?.value || c.get('Property')?.value
                }}</ion-label>
                <ion-icon name="close" (click)="removeForm($event, c, form.controls.CompareBy)"></ion-icon>
              </ion-chip>
              <ion-button fill="clear" size="small" (click)="addNewForm($event, 'CompareBy')"
                ><ion-icon name="add-circle-outline"></ion-icon
              ></ion-button>
            </span>
          </div>
        </ng-container>

        <ng-container formGroupName="MeasureBy" *ngIf="canChangeReportConfig">
          <div class="c-control">
            <label class="c-label">{{ 'Measure By' | translate }}</label>
            <span class="c-input" style="flex-wrap: wrap; height: auto">
              <ion-chip
                color="warning"
                *ngFor="let c of form.controls.MeasureBy.controls"
                style="height: auto; margin: 0; margin-right: 2px"
              >
                <ion-label (click)="presentPopover($event, c, 'MeasureBy')">{{
                  c.get('Title')?.value || c.get('Property')?.value
                }}</ion-label>
                <ion-icon name="close" (click)="removeForm($event, c, form.controls.MeasureBy)"></ion-icon>
              </ion-chip>
              <ion-button fill="clear" size="small" (click)="addNewForm($event, 'MeasureBy')"
                ><ion-icon name="add-circle-outline"></ion-icon
              ></ion-button>
            </span>
          </div>
        </ng-container>

        <ng-container formGroupName="Transform" *ngIf="selectedSchema && canChangeReportConfig">
          <div class="c-control">
            <label class="c-label">{{ 'Query builder' | translate }}</label>
            <!-- <span class="c-input" style="flex-wrap: wrap;height: auto;"></span> -->
            <app-filter
              [smallWidth]="true"
              [item]="form.get('Transform.Filter').value"
              #appFilter
              [schema]="selectedSchema"
              (change)="appFilter.onFormSubmit($event)"
              (submit)="setTransform($event)"
            ></app-filter>
          </div>
        </ng-container>
      </div>
    </ion-accordion>

    <ion-accordion value="chartConfig" style="background: transparent" *ngIf="canEditScript">
      <ion-item slot="header" color="light">
        <ion-label>{{ 'Advanced chart configuration' | translate }}</ion-label>
      </ion-item>
      <div slot="content" style="background: transparent">
        <div [id]="chartConfigId" style="min-height: 500px; width: 100%">
          {{ _report.ChartConfigScript }}
        </div>
      </div>
    </ion-accordion>

    <ion-accordion value="chartScript" style="background: transparent" *ngIf="canEditScript">
      <ion-item slot="header" color="light">
        <ion-label>{{ 'Script' | translate }}</ion-label>
      </ion-item>
      <div slot="content" style="background: transparent">
        <div [id]="chartScriptId" style="min-height: 500px; width: 100%">
          {{ _report.ChartScript }}
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div class="action-buttons sticky-bottom">
    <ion-grid>
      <ion-row>
          <ion-col size="6">
            <ion-button (click)="onRunReport()" color="success" expand="block">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              {{ 'Run' | translate }}
            </ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="canExport">
            <ion-button  (click)="export()" color="warning" expand="block">
              <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
              {{ 'Export' | translate }}
            </ion-button>
          </ion-col>
          <ion-col [size]="(canExport && canEdit) ? '12' : '6'" *ngIf="canEdit">
            <ion-button (click)="onSave()" color="primary" expand="block">
              {{ 'Save' | translate }}
            </ion-button>
          </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="!canEdit">
        <ion-col size="12">
          <ion-button (click)="onRunReport()" color="success" expand="block">
            <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
            {{ 'Run' | translate }}
          </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>

  <ion-popover class="w300" #popoverPub [isOpen]="isOpenPopover" (didDismiss)="dismissPopover()">
    <ng-template>
      <ion-content class="ion-padding">
        <ng-container *ngIf="pickerGroupName == 'Interval'">
          <app-form-control
            [field]="{
              id: 'Title',
              label: 'Title',
              type: 'text',
              form: formGroup
            }"
          ></app-form-control>
          <app-form-control
            [field]="{
              id: 'Property',
              label: 'Property',
              type: 'ng-select',
              dataSource: _schemaDetailsList,
              bindValue: 'Code',
              bindLabel: 'Name',
              form: formGroup
            }"
          ></app-form-control>
          <app-form-control
            [field]="{
              id: 'Type',
              label: 'Type',
              type: 'ng-select',
              dataSource: _intervalDataSource,
              bindValue: 'Code',
              bindLabel: 'Name',
              form: formGroup
            }"
          ></app-form-control>
        </ng-container>
        <ng-container *ngIf="pickerGroupName == 'CompareBy'">
          <app-form-control
            [field]="{
              id: 'Title',
              label: 'Title',
              type: 'text',
              form: formGroup
            }"
          ></app-form-control>
          <app-form-control
            [field]="{
              id: 'Property',
              label: 'Property',
              type: 'ng-select',
              dataSource: _schemaDetailsList,
              bindValue: 'Code',
              bindLabel: 'Name',
              form: formGroup
            }"
          ></app-form-control>
        </ng-container>
        <ng-container *ngIf="pickerGroupName == 'MeasureBy'">
          <app-form-control
            [field]="{
              id: 'Title',
              label: 'Title',
              type: 'text',
              form: formGroup
            }"
          ></app-form-control>
          <app-form-control
            [field]="{
              id: 'Property',
              label: 'Property',
              type: 'ng-select',
              dataSource: _schemaDetailsList,
              bindValue: 'Code',
              bindLabel: 'Name',
              form: formGroup
            }"
          ></app-form-control>
          <app-form-control
            [field]="{
              id: 'Method',
              label: 'Method',
              type: 'ng-select',
              dataSource: _measureMethodDataSource,
              bindValue: 'Code',
              bindLabel: 'Code',
              form: formGroup
            }"
          ></app-form-control>
        </ng-container>
        <ng-container *ngIf="pickerGroupName == 'CompareTo'">
          <app-form-control
            [field]="{
              id: 'Type',
              label: 'Type',
              type: 'text',
              form: formGroup
            }"
          ></app-form-control>
          <app-form-control
            [field]="{
              id: 'IsPastDate',
              label: 'IsPastDate',
              type: 'text',
              form: formGroup
            }"
          ></app-form-control>
          <app-form-control
            [field]="{
              id: 'Period',
              label: 'Period',
              type: 'text',
              form: formGroup
            }"
          ></app-form-control>
          <app-form-control
            [field]="{
              id: 'Amount',
              label: 'Amount',
              type: 'number',
              form: formGroup
            }"
          ></app-form-control>
        </ng-container>

        <ion-button size="small" expand="block" (click)="dismissPopover(true)">Apply</ion-button>
      </ion-content>
    </ng-template>
  </ion-popover>

  <!-- datepicker -->
  <ion-popover class="w300" #popover [isOpen]="isOpenDatePicker" (didDismiss)="dismissDatePicker()">
    <ng-template>
      <ion-content appScrollbarTheme>
        <ion-segment
          scrollable="false"
          (ionChange)="segmentTimeframeChanged($event)"
          [value]="pickerControl.controls.Type.value"
          mode="md"
        >
          <ion-segment-button value="Relative">
            <ion-label>{{ 'Relative' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Absolute">
            <ion-label>{{ 'Absolute' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-list *ngIf="pickerControl.controls.Type.value == 'Relative'">
          <div>
            <ng-container *ngIf="pickerGroupName == 'CompareTo'">
              <ion-item
                button
                detail="false"
                *ngFor="let i of rpt.commonOptions.compareTo"
                (click)="pickDate(i.timeConfig)"
              >
                <ion-icon name="timer-outline" slot="start"></ion-icon>
                <ion-label>{{ i.name }}</ion-label>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="pickerGroupName != 'CompareTo'">
              <ion-item
                button
                detail="false"
                *ngFor="let i of rpt.commonOptions.timeframe"
                (click)="pickDate(i.timeConfig)"
              >
                <ion-icon name="timer-outline" slot="start"></ion-icon>
                <ion-label>{{ i.name }}</ion-label>
              </ion-item>
            </ng-container>
          </div>
          <ion-item>
            <app-input-control
              style="position: absolute; right: 1rem; margin: 1rem; z-index: 1; bottom: 10px"
              [form]="pickerControl"
              type="select"
              id="Period"
              [dataSource]="_timePeriodList"
              bindValue="code"
              bindLabel="name"
              (change)="onChange($event)"
            ></app-input-control>
            <app-form-control
              style="width: 100%"
              [form]="pickerControl"
              type="number"
              id="Amount"
              label=""
              (change)="onChange($event)"
            ></app-form-control>
          </ion-item>
        </ion-list>

        <div *ngIf="pickerControl.controls.Type.value == 'Absolute'">
          <ion-datetime
            [locale]="env.language.current"
            [value]="pickerControl.controls.Value.value"
            [firstDayOfWeek]="1"
            (ionChange)="pickDate({ Type: 'Absolute', Value: $event })"
            mode="ios"
            format="YYYY-MM-DDTHH:mm:ssZ"
          ></ion-datetime>
        </div>
      </ion-content>
      <ion-button class="ion-margin" size="small" expand="block" (click)="dismissDatePicker(true)">Apply</ion-button>
    </ng-template>
  </ion-popover>
</form>
