<ion-toolbar [ngClass]="{ 'toolbar-no-border': NoBorder }">
  <!-- left-tool-bar -->
  <ion-buttons slot="start" [collapse]="true" [ngClass]="{ 'ion-hide-md-down': pageConfig.isSubActive }">
    <ion-back-button *ngIf="!pageConfig.isDetailPage"></ion-back-button>
    <ion-back-button
      *ngIf="pageConfig.isDetailPage"
      [defaultHref]="BackHref ? BackHref : page.pageConfig.pageName"
      [text]="(pageConfig.pageTitle ? pageConfig.pageTitle : 'Back') | translate"
    >
    </ion-back-button>

    <ion-button color="dark" *ngIf="!pageConfig.isDetailPage && !selectedItems?.length">
      {{ pageConfig.pageTitle | translate }}
    </ion-button>
    <ion-button color="dark" *ngIf="!pageConfig.isDetailPage && selectedItems?.length" (click)="page.unselect()">
      {{ selectedTitle || selectedItems?.length + ' dòng' }}
    </ion-button>
    <ng-content select="[leftTitle]"></ng-content>
  </ion-buttons>

  <ion-buttons slot="start" [collapse]="true" class="ion-hide-md-up" *ngIf="pageConfig.isSubActive">
    <ion-button class="toggle" (click)="page.backSubPage()">
      <ion-icon slot="icon-only" name="chevron-back-outline"> </ion-icon>
      <ion-label color="dark" class="label-back">{{ 'Back' | translate }}</ion-label>
    </ion-button>
  </ion-buttons>

  <!-- center-tool-bar -->
  <ion-title [ngClass]="{ 'ion-hide-md-down': pageConfig.isSubActive }" *ngIf="pageConfig.isDetailPage && title">
    {{ title }}
  </ion-title>

  <!-- selected-group OR detail page md up-->
  <ion-buttons
    class="ion-hide-md-down"
    [collapse]="true"
    slot="end"
    *ngIf="selectedItems?.length || pageConfig.isDetailPage"
  >
    <!-- Unselect -->
    <ion-button title="{{ 'Unselect' | translate }}" (click)="page.unselect()" *ngIf="!pageConfig.isDetailPage">
      <ion-icon color="primary" slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ng-content select="[selected]"></ng-content>

    <!-- Submit for approval -->
    <ion-button
      title="{{ 'Submit for approval' | translate }}"
      *ngIf="pageConfig.canSubmit && !pageConfig.isDetailPage && showSubmit && !query.IsDisabled"
      (click)="page.submit()"
    >
      <ion-icon color="success" slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>

    <!-- Disapprove -->
    <ion-button
      title="{{ 'Disapprove' | translate }}"
      *ngIf="
        (pageConfig.canDisapprove && !pageConfig.isDetailPage && showDisapprove && !query.IsDisabled) ||
        (pageConfig.canApprove && showDisapprove && !query.IsDisabled && !pageConfig.isDetailPage)
      "
      (click)="page.disapprove()"
    >
      <ion-icon color="warning" slot="icon-only" name="thumbs-down-outline"></ion-icon>
    </ion-button>

    <!-- Approve -->
    <ion-button
      title="{{ 'Approve' | translate }}"
      *ngIf="pageConfig.canApprove && !pageConfig.isDetailPage && showApprove && !query.IsDisabled"
      (click)="page.approve()"
    >
      <ion-icon color="success" slot="icon-only" name="thumbs-up-outline"></ion-icon>
    </ion-button>

    <!-- Copy -->
    <ion-button title="Copy" *ngIf="pageConfig.canCopy && !pageConfig.isDetailPage" (click)="page.copy()">
      <ion-icon color="primary" slot="icon-only" name="copy-outline"></ion-icon>
    </ion-button>

    <span class="split ion-hide-md-down" *ngIf="(ShowHelp || ShowFeature) && !pageConfig.isDetailPage">|</span>

    <!-- Change Branch -->
    <ion-button
      title="{{ 'Change Branch' | translate }}"
      *ngIf="pageConfig.canChangeBranch"
      (click)="page.changeBranch()"
    >
      <ion-icon color="warning" slot="icon-only" name="sitemap"></ion-icon>
    </ion-button>

    <span
      class="split ion-hide-md-down"
      *ngIf="(pageConfig.canApprove || pageConfig.canCancel) && !pageConfig.isDetailPage"
      >|</span
    >

    <!-- Merge -->
    <ion-button
      title="{{ 'Merge' | translate }}"
      *ngIf="pageConfig.canMerge && selectedItems?.length >= 2 && !query.IsDisabled && !pageConfig.isDetailPage"
      (click)="page.merge()"
    >
      <ion-icon color="warning" slot="icon-only" name="git-pull-request"></ion-icon>
    </ion-button>

    <!-- Split -->
    <ion-button
      title="{{ 'Split' | translate }}"
      *ngIf="pageConfig.canSplit && selectedItems?.length <= 1 && !query.IsDisabled && !pageConfig.isDetailPage"
      (click)="page.split()"
    >
      <ion-icon color="warning" slot="icon-only" name="git-branch"></ion-icon>
    </ion-button>

    <!-- Cancel -->
    <ion-button
      title="{{ 'Cancel' | translate }}"
      *ngIf="
        pageConfig.canCancel &&
        ((selectedItems?.length == 1 && showCancel) || showCancel) &&
        !query.IsDisabled &&
        !pageConfig.isDetailPage
      "
      (click)="page.cancel()"
    >
      <ion-icon color="danger" slot="icon-only" name="ban-outline"></ion-icon>
    </ion-button>

    <!-- Archive -->
    <ion-button
      title="{{ query.IsDisabled ? 'Reopen' : ('Archive' | translate) }}"
      *ngIf="pageConfig.canArchive && !pageConfig.isDetailPage"
      (click)="page.archiveItems()"
    >
      <ion-icon color="warning" slot="icon-only" [name]="query.IsDisabled ? 'arrow-undo' : 'archive'"></ion-icon>
    </ion-button>

    <!-- Delete -->
    <ion-button title="{{ 'Delete' | translate }}" *ngIf="pageConfig.canDelete && showDelete" (click)="deleteItem()">
      <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <!-- right-tool-bar md up-->
  <ion-buttons class="ion-hide-md-down" [collapse]="true" slot="end" *ngIf="!selectedItems?.length">
    <!-- Add -->
    <ion-button
      title="{{ 'Add' | translate }}"
      *ngIf="ShowAdd && pageConfig.canAdd && !query.IsDisabled && !pageConfig.isDetailPage"
      (click)="page.add()"
    >
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>

    <span
      class="split ion-hide-md-down"
      *ngIf="pageConfig.canSubmitSalesmanOrdersForApproval && !pageConfig.isDetailPage"
      >|</span
    >

    <!-- Search -->
    <ion-button
      title="{{ 'Search' | translate }}"
      *ngIf="ShowSearch && !pageConfig.isDetailPage"
      (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
    >
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <!-- Refresh -->
    <ion-button
      title="{{ 'Refresh' | translate }}"
      *ngIf="ShowRefresh"
      (click)="page.refresh()"
      class="ion-hide-md-down"
    >
      <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
    </ion-button>

    <ng-content select="[rightScreen]"></ng-content>

    <span
      class="split ion-hide-md-down"
      *ngIf="ShowExport && pageConfig.canExport && pageConfig.canImport && !pageConfig.isDetailPage"
      >|</span
    >
    <!-- Export -->
    <ion-button
      title="{{ 'Export' | translate }}"
      class="ion-hide-md-down"
      *ngIf="ShowExport && pageConfig.canExport && !pageConfig.isDetailPage"
      (click)="page.export()"
    >
      <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
    </ion-button>
    <!-- Import -->
    <ion-button
      title="{{ 'Import' | translate }}"
      class="ion-hide-md-down"
      *ngIf="ShowImport && pageConfig.canImport && !pageConfig.isDetailPage"
      (click)="onClickImport()"
    >
      <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
    </ion-button>

    <input class="hide-all" #importfile type="file" accept=".xlsx" (change)="importFileChange($event)" />

    <span class="split ion-hide-md-down" *ngIf="(ShowHelp || ShowFeature) && !pageConfig.isDetailPage">|</span>
    <!-- Help -->
    <ion-button title="{{ 'Help' | translate }}" *ngIf="ShowHelp" (click)="page.help()">
      <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
    </ion-button>

    <!-- ShowFeature -->
    <ion-button title="{{ 'ShowFeature' | translate }}" *ngIf="ShowFeature" (click)="toggleFeature()">
      <ion-icon
        slot="icon-only"
        [ngClass]="{ rotate180: pageConfig.isFeatureAsMain }"
        [name]="pageConfig.isShowFeature ? 'panel-right-active' : 'panel-right'"
      ></ion-icon>
    </ion-button>
  </ion-buttons>

  <!-- right-tool-bar- md down -->
  <ion-buttons
    class="ion-hide-md-up"
    [ngClass]="{ 'ion-hide-md-down': pageConfig.isSubActive }"
    [collapse]="true"
    slot="end"
    *ngIf="!selectedItems?.length"
  >
    <!-- Add -->
    <ion-button
      title="{{ 'Add' | translate }}"
      *ngIf="ShowAdd && pageConfig.canAdd && !query.IsDisabled && !pageConfig.isDetailPage"
      (click)="page.add()"
    >
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>

    <!-- Search -->
    <ion-button
      [ngClass]="{ 'ion-hide-md-down': pageConfig.isSubActive }"
      title="{{ 'Search' | translate }}"
      *ngIf="ShowSearch && !pageConfig.isDetailPage"
      (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
    >
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>

    <!-- Show more -->
    <ion-button
      [ngClass]="{ 'ion-hide-md-down': pageConfig.isSubActive }"
      (click)="presentToolBarPopover($event)"
      title="{{ 'Show more...' | translate }}"
      *ngIf="!pageConfig.isDetailPage"
      size="small"
      fill="clear"
      slot="end"
      class="gridster-item-content dot-toolbar"
    >
      <ion-icon color="primary" slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>

  <!-- selected-group md down-->
  <ion-buttons
    [ngClass]="{ 'ion-hide-md-down': pageConfig.isSubActive }"
    class="ion-hide-md-up"
    [collapse]="true"
    slot="end"
    *ngIf="selectedItems?.length || pageConfig.isDetailPage"
  >
    <ion-button title="{{ 'Unselect' | translate }}" *ngIf="!pageConfig.isDetailPage" (click)="page.unselect()">
      <ion-icon color="primary" slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ng-content select="selectedSmUp"></ng-content>

    <ion-button title="Copy" *ngIf="pageConfig.canCopy && !pageConfig.isDetailPage" (click)="page.copy()">
      <ion-icon color="primary" slot="icon-only" name="copy-outline"></ion-icon>
    </ion-button>
    <ion-button title="{{ 'Delete' | translate }}" *ngIf="pageConfig.canDelete && showDelete" (click)="deleteItem()">
      <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button
      (click)="presentToolBarPopover($event)"
      size="small"
      fill="clear"
      slot="end"
      class="gridster-item-content dot-toolbar"
    >
      <ion-icon color="primary" slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>

  <!-- popover -->
  <ion-popover
    [ngClass]="{ 'ion-hide-md-down': pageConfig.isSubActive }"
    class="ion-hide-md-up"
    #toolBarPopover
    [isOpen]="isToolBarPopoverOpen"
    (didDismiss)="isToolBarPopoverOpen = false"
    [dismissOnSelect]="true"
    [backdropDismiss]="true"
  >
    <ng-template>
      <ion-content scroll-y="false">
        <ion-list>
          <ng-content select="[rightScreenPop]"></ng-content>
          <!-- Refresh -->
          <ion-item
            title="{{ 'Refresh' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="ShowRefresh && !selectedItems?.length"
            (click)="isToolBarPopoverOpen = false; page.refresh()"
          >
            <ion-icon color="primary" slot="start" name="reload-outline"></ion-icon>
            <ion-label> {{ 'Refresh' | translate }}</ion-label>
          </ion-item>
          <!-- Export -->
          <ion-item
            title="{{ 'Export' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="ShowExport && pageConfig.canExport && !selectedItems?.length && !pageConfig.isDetailPage"
            (click)="isToolBarPopoverOpen = false; page.export()"
          >
            <ion-icon color="primary" slot="start" name="cloud-download-outline"></ion-icon>
            <ion-label> {{ 'Export' | translate }}</ion-label>
          </ion-item>
          <!-- Import -->
          <ion-item
            title="{{ 'Import' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="ShowImport && pageConfig.canImport && !selectedItems?.length && !pageConfig.isDetailPage"
            (click)="isToolBarPopoverOpen = false; onClickImport()"
          >
            <ion-icon color="primary" slot="start" name="cloud-upload-outline"></ion-icon>
            <ion-label> {{ 'Import' | translate }}</ion-label>
          </ion-item>
          <!-- Help -->
          <ion-item
            title="{{ 'Help' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="ShowHelp && !selectedItems?.length"
            (click)="isToolBarPopoverOpen = false; page.help()"
          >
            <ion-icon color="primary" slot="start" name="help-circle-outline"></ion-icon>
            <ion-label> {{ 'Help' | translate }}</ion-label>
          </ion-item>
          <!-- Submit for approval-->
          <ion-item
            title="{{ 'Submit for approval' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="
              pageConfig.canSubmit &&
              !pageConfig.isDetailPage &&
              showSubmit &&
              !query.IsDisabled &&
              selectedItems?.length
            "
            (click)="isToolBarPopoverOpen = false; page.submit()"
          >
            <ion-icon color="success" slot="start" name="send-outline"></ion-icon>
            <ion-label> {{ 'Gửi Duyệt' | translate }}</ion-label>
          </ion-item>
          <!-- Disapprove -->
          <ion-item
            title="{{ 'Disapprove' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="
              ((pageConfig.canDisapprove && !pageConfig.isDetailPage && showDisapprove && !query.IsDisabled) ||
                (pageConfig.canApprove && showDisapprove && !query.IsDisabled && !pageConfig.isDetailPage)) &&
              selectedItems?.length
            "
            (click)="isToolBarPopoverOpen = false; page.disapprove()"
          >
            <ion-icon color="warning" slot="start" name="thumbs-down-outline"></ion-icon>
            <ion-label> {{ 'Không Duyệt' | translate }}</ion-label>
          </ion-item>
          <!-- Approve -->
          <ion-item
            title="{{ 'Approve' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="
              pageConfig.canApprove &&
              !pageConfig.isDetailPage &&
              showApprove &&
              !query.IsDisabled &&
              selectedItems?.length
            "
            (click)="isToolBarPopoverOpen = false; page.approve()"
          >
            <ion-icon color="success" slot="start" name="thumbs-up-outline"></ion-icon>
            <ion-label> {{ 'Duyệt' | translate }}</ion-label>
          </ion-item>
          <!-- Change Branch -->
          <ion-item
            title="{{ 'Change Branch' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="pageConfig.canChangeBranch && (selectedItems?.length || pageConfig.isDetailPage)"
            (click)="isToolBarPopoverOpen = false; page.changeBranch()"
          >
            <ion-icon color="warning" slot="start" name="sitemap"></ion-icon>
            <ion-label> {{ 'Change Branch' | translate }}</ion-label>
          </ion-item>
          <!-- Merge -->
          <ion-item
            title="{{ 'Merge' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="
              pageConfig.canMerge &&
              selectedItems?.length >= 2 &&
              showMerge &&
              !query.IsDisabled &&
              selectedItems?.length &&
              !pageConfig.isDetailPage &&
              selectedItems?.length
            "
            (click)="isToolBarPopoverOpen = false; page.merge()"
          >
            <ion-icon color="warning" slot="start" name="git-pull-request"></ion-icon>
            <ion-label> {{ 'Merge' | translate }}</ion-label>
          </ion-item>
          <!-- Split -->
          <ion-item
            title="{{ 'Split' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="
              pageConfig.canSplit &&
              selectedItems?.length <= 1 &&
              showSplit &&
              !query.IsDisabled &&
              !pageConfig.isDetailPage &&
              selectedItems?.length
            "
            (click)="isToolBarPopoverOpen = false; page.split()"
          >
            <ion-icon color="warning" slot="start" name="git-branch"></ion-icon>
            <ion-label> {{ 'Split' | translate }}</ion-label>
          </ion-item>
          <!-- Cancel -->
          <ion-item
            title="{{ 'Cancel' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="
              pageConfig.canCancel &&
              showCancel &&
              !query.IsDisabled &&
              !pageConfig.isDetailPage &&
              selectedItems?.length
            "
            (click)="isToolBarPopoverOpen = false; page.cancel()"
          >
            <ion-icon color="danger" slot="start" name="ban-outline"></ion-icon>
            <ion-label> {{ 'Cancel' | translate }}</ion-label>
          </ion-item>
          <!-- Archive -->
          <ion-item
            title="{{ (query.IsDisabled ? 'Reopen' : 'Archive') | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            *ngIf="pageConfig.canArchive && !pageConfig.isDetailPage && selectedItems?.length"
            (click)="isToolBarPopoverOpen = false; page.archiveItems()"
          >
            <ion-icon color="warning" slot="start" [name]="query.IsDisabled ? 'arrow-undo' : 'archive'"></ion-icon>
            <ion-label> {{ (query.IsDisabled ? 'Reopen' : 'Archive') | translate }}</ion-label>
          </ion-item>
          <!-- Show Feature -->
          <ion-item
            title="{{ 'Show feature' | translate }}"
            lines="full"
            [button]="true"
            [detail]="false"
            [ngClass]="{ 'ion-hide-md-down': pageConfig.isShowFeature }"
            *ngIf="ShowFeature && !selectedItems?.length"
            (click)="isToolBarPopoverOpen = false; toggleFeature()"
          >
            <ion-icon
              [ngClass]="{ rotate180: pageConfig.isFeatureAsMain }"
              color="primary"
              slot="start"
              [name]="pageConfig.isShowFeature ? 'panel-right-active' : 'panel-right'"
            ></ion-icon>
            <ion-label> {{ 'Show feature' | translate }}</ion-label>
          </ion-item>

          <!-- Show feature fake -->
          <ion-item
            title="{{ 'Show feature' | translate }}"
            lines="full"
            class="ion-hide-md-up"
            [button]="true"
            [detail]="false"
            *ngIf="ShowFeature && !selectedItems?.length && !pageConfig.isSubActive && pageConfig.isShowFeature"
            (click)="isToolBarPopoverOpen = false; pageConfig.isSubActive = true"
          >
            <ion-icon
              [ngClass]="{ rotate180: pageConfig.isFeatureAsMain }"
              color="primary"
              slot="start"
              [name]="pageConfig.isShowFeature ? 'panel-right' : 'panel-right-active'"
            ></ion-icon>
            <ion-label> {{ 'Show feature' | translate }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-toolbar>
