.full-screen{
    min-height: calc(100vh - 97px);
}

.form-expand{
    width: 100% !important;
}
.c-control{
    .name-label{
        position: relative;
    }
}
.modal{
    position: absolute;
    top:-13px;
    &.icon-modal{
        right:0
    }
    &.color-modal{
        right:50px
    }
}
.table.responsive .row{
    padding : 16px !important;
    .col-reorder{
        order:0 !important; 
    }
    .head-icon{
        order:0 !important; 
        position: unset;
    }
    .col-name{
        order:0 !important; 
        min-width: unset !important;
    }
    .col-icon{
        justify-content: start;
    }
   
}

