/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~intro.js/introjs.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "./theme/_inholding-theme.scss";
@import "./theme/_inholding-dark-theme.scss";
@import "./theme/_metafoods-theme.scss";
@import "./theme/_gem-theme.scss";
@import "./theme/_white-palace-theme.scss";
@import "./theme/_the-log-theme.scss";
@import "./theme/_pqc-theme.scss";
// @import "./theme/_artdistribution-theme.scss";
@import "./theme/_wgourmet-theme.scss";
// @import "./theme/_dark-theme.scss";

@import "./theme/dpr-query.scss";
@import "./theme/common.scss";
@import "./theme/data-table.scss";
@import "./theme/form-control.scss";
@import "./theme/introjs.scss";
@import "./theme/ng-select.scss";
@import "./theme/fullcalendar.scss";
@import "./theme/angular-tree-component.scss";
@import "./theme/print.scss";


html {
	font-size: 10px !important;

	&.mobile-font {
		font-size: 12px !important;
	}
}

body {
	font-size: 1.3rem;
}

ion-app {
	background-color: var(--ion-background-color);
}

ion-icon {
	.fa-secondary {
		fill: var(--ion-color-primary);
		opacity: 0.4;

	}
}

ion-segment-button {
	min-width: auto !important;
	--color-checked: var(--ion-color-primary);
}

ion-content {
	--background: linear-gradient(180deg, var(--main-background-top), var(--main-background-bottom));
}

ion-virtual-scroll,
ion-item {
	user-select: text;
}

ion-picker {
	--background: var(--main-background-bottom) !important;
}

ion-popover {
	&.delivery-review-filter {
		--width: 260px !important;
		--max-width: 400px;
	}

	&.pos-detail-payment {
		--width: 275px !important;
		--max-width: 400px;

		.popover-wrapper {
			.popover-content {
				left: calc(100vw - 303px) !important;
				width: 280px;
				max-width: 400px;
			}
		}
	}

	// ion-backdrop{
	// opacity: 0.5 !important;
	// }    
	.popover-wrapper {
		.popover-arrow {
			display: block !important;
			position: absolute;
			left: calc(100vw - 35px) !important;
			right: 16px !important;
			top: calc(0vh + 40px) !important;
		}

		.popover-content {
			position: absolute;
			left: calc(100vw - 280px) !important;
			right: 16px !important;
			top: calc(0vh + 50px) !important;
			width: 70vw;
			max-width: 270px;
			transform-origin: right top !important;
		}
	}
}


ion-header,
app-list-toolbar,
app-detail-toolbar {
	>ion-toolbar:not(.no-padding) {
		--padding-start: 40px;

		@media screen and (max-width: 991px) {
			--padding-start: 40px;
		}
	}
}


a {
	text-decoration: none;
}

//hide the HTML5 number input’s spin box
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}

// input, select{
//     -webkit-appearance: none;
// }

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: var(--menu-right-border-color);
	background: transprent;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background: var(--ion-color-primary);
	background: linear-gradient(var(--menu-background-top), var(--main-background-top));
	border: 1px solid rgba(var(--ion-color-primary-rgb, 0, 0, 0), .25);
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(var(--ion-color-primary), var(--ion-color-primary));
}

