<ion-breadcrumbs [maxItems]="maxItems" [itemsBeforeCollapse]="itemsBeforeCollapse" [itemsAfterCollapse]="itemsAfterCollapse" (ionCollapsedClick)="presentPopover($event)">
	<ion-breadcrumb *ngFor="let i of breadcrumbs; last as isLast">{{ i.Name }}</ion-breadcrumb>
	<ion-breadcrumb *ngIf="!breadcrumbs?.length && Id">{{ 'Not found job title with ID' | translate:{Id: Id} }}</ion-breadcrumb>
</ion-breadcrumbs>
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" *ngIf="breadcrumbs?.length">
	<ng-template>
		<ion-content appScrollbarTheme>
			<ion-list>
				<ion-item *ngFor="let i of breadcrumbs; last as isLast" [lines]="isLast ? 'none' : null">
					<ion-label>
						<div class="flex-nowrap">
							<span>
								<span *ngFor="let l of i.levels; first as isFirst">
									<span *ngIf="!isFirst">&nbsp;&nbsp;&nbsp;</span>
								</span>
							</span>
							<ion-text [color]="i.Type == 'Company' ? 'primary' : 'dark'">{{ i.Name }}</ion-text>
						</div>
					</ion-label>
				</ion-item>
			</ion-list>
		</ion-content>
	</ng-template>
</ion-popover>
