<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header>
  <app-toolbar [page]="this">
    <ion-button
      title="{{ 'Run trigger' | translate }}"
      (click)="runTrigger()"
    >
      <ion-icon color="success" slot="icon-only" name="play-circle-outline"></ion-icon>
    </ion-button>
  </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
    <ion-grid fixed>
      <form [formGroup]="formGroup">
        <ion-row class="hr-group">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">{{'Trigger' | translate}}</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control [field]="{id:'Code', form : formGroup }" (change)="saveChange()">
              <small label *ngIf="item?.Id">Id: {{item.Id}}</small>
            </app-form-control>
            <app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }" (change)="saveChange()">
            </app-form-control>
            <app-form-control [field]="{id:'Type', label: 'Type', dataSource: typeList, type : 'ng-select', bindValue:'Code', bindLabel:'Name', form : formGroup }" (change)="saveChange()">
            </app-form-control>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control [field]="{id:'IDProvider', label: 'Provider', type : 'ng-select', dataSource: providerDataSource, bindValue:'Id', bindLabel:'Name', form : formGroup }" (change)="saveChange()">
            </app-form-control>
            <app-form-control [field]="{id:'IDAction', label: 'Action triggerable', type : 'ng-select', clearable : true, dataSource: actionDataSource, bindValue:'Id', bindLabel:'Name', form : formGroup }" (change)="saveChange()">
            </app-form-control>
            <app-form-control [field]="{id:'Icon', secondaryId: 'Color', label: 'Icon',  type : 'icon-color', form : formGroup }" (change)="saveChange()"></app-form-control>
          </ion-col>
        </ion-row>

        <ion-row class="hr-group" style="position: relative">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">{{'Actions' | translate}}</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-col size="12" size-sm size-xl="8">
            <div class="table-contain">
              <section class="table">
                <header class="bold">
                  <div class="col-id cell">{{'No.' | translate}}</div>
                  <div class="col-name cell">{{'Action' | translate}}</div>
                  <div class="col-icon cell" *ngIf="pageConfig.canEdit"></div>
                  <div class="col-checkbox cell">{{'Enable' | translate}}</div>
                  <div class="col-icon cell" *ngIf="pageConfig.canEdit"></div>
                  <div class="col-reorder cell">
                    <ion-icon color="primary" size="large" (click)="showActionModal()" *ngIf="pageConfig.canAdd" name="add"></ion-icon>
                  </div>
                </header>
                <ion-reorder-group [disabled]="false" (ionItemReorder)="doReorder($event, formGroup.get('TriggerActions')['controls'])">
                  <ng-container *ngFor="let g of formGroup.get('TriggerActions')['controls']; let idx = index;">
                    <ng-container [formGroup]="g">
                      <div class="row">
                        <div class="col-id cell">
                          <a class="col-id cell" [routerLink]="['/integration-action/'+g.get('IDAction').value]">{{idx+1}}</a>
                        </div>
                        <div class="col-name cell">
                          {{g.get('ProviderName').value}} - {{g.get('ActionName').value}}
                          <small *ngIf="g.get('Remark').value">{{g.get('Remark').value}}</small>
                        </div>
                        <div class="col-icon cell clickable" (click)="showActionModal(g)" *ngIf="pageConfig.canEdit">
                          <ion-icon color="primary" class="min-btn" name="server"></ion-icon>
                        </div>
                        <div class="col-checkbox cell">
                          <input class="c-checkbox" *ngIf="pageConfig.canEdit" [checked]="!g.get('IsDisabled').value" type="checkbox" (change)="changeEnableAction(g, $event)" />
                          <input class="c-checkbox" *ngIf="!pageConfig.canEdit" [checked]="!g.get('IsDisabled').value" type="checkbox" />
                        </div>
                        <div class="col-icon cell clickable" *ngIf="pageConfig.canEdit" (click)="removeField(g,idx)">
                          <ion-icon color="danger" class="min-btn" name="trash"></ion-icon>
                        </div>
                        <div class="col-reorder cell">
                          <ion-reorder *ngIf="pageConfig.canEdit" slot="end"></ion-reorder>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ion-reorder-group>
              </section>
            </div>
          </ion-col>
        </ion-row>
        <!-- Other information -->
        <ion-row class="hr-group" *ngIf="item.Id">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">{{'Other information' | translate}}</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
            <app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
            <app-form-control [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
            <app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"></app-form-control>
            <app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title color="danger">Error</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="true" class="ion-padding" [scrollY]="false">
        <!-- <ion-fab slot="fixed" vertical="top" horizontal="end">
          <ion-fab-button (click)="isModalOpen = false">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </ion-fab> -->
        <div class="ion-padding" class="customer-message">
          <ion-toolbar>
            <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentViewModal">
              <ion-segment-button value="s1">
                <ion-label>{{'General' | translate}}</ion-label>
              </ion-segment-button>
              <ion-segment-button  *ngFor="let type of ErrorMessage.Types" [value]="type">
                <ion-label *ngIf="type == 'globalVariables'">{{'Global variables' | translate}}</ion-label>
                <ion-label *ngIf="type == 'collectionVariables'">{{'Collection variables'| translate}}</ion-label>
                <ion-label *ngIf="type == 'environmentVariables'">{{'Environment variables'| translate}}</ion-label>
                <ion-label *ngIf="type == 'dataVariables'">{{'Data variables'| translate}}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
          <div  class="table-contain" *ngIf="segmentViewModal == 's1'">
            <section class="table table-popover responsive" >
              <header class="bold">
                <div class="col-name cell">Property</div>
                <div class="col-name cell">Value</div>
              </header>
              <div class="row" *ngIf="ErrorMessage.Action">
                <div class="col-name cell">{{'Action' | translate}}</div>
                <div class="col-name cell">{{ErrorMessage.Action}}</div>
              </div>
              <div class="row"*ngIf="ErrorMessage.Request">
                <div class="col-name cell">{{'Request' | translate}}</div>
                <div class="col-name cell">{{ErrorMessage.Request.Name}}</div>
              </div>
              <div class="row"*ngIf="ErrorMessage.Request?.Method">
                <div class="col-name cell">{{'Method' | translate}}</div>
                <div class="col-name cell">{{ErrorMessage.Request.Method}}</div>
              </div>
              <div class="row"*ngIf="ErrorMessage.Request?.URL">
                <div class="col-name cell">{{'URL' | translate}}</div>
                <div class="col-name cell">{{ErrorMessage.Request.URL}}</div>
              </div>
              <div class="row"*ngIf="ErrorMessage.Error">
                <div class="col-name cell">{{'Error' | translate}}</div>
                <div color="danger"class="col-name cell">{{ErrorMessage.Error}}</div>
              </div>
            </section> 
          </div>
          <ng-container  *ngFor="let type of ErrorMessage.Types">
            <div class="table-contain">
              <section class="table table-popover responsive"  *ngIf="segmentViewModal == type">
                <header class="bold">
                  <div class="col-name cell">Key</div>
                  <div class="col-name cell">Value</div>
                </header>
            
                  <ng-container *ngFor="let variable of ErrorMessage.Variables">
                    <div class="row" *ngIf="variable.Type == type">
                      <div class="col-name cell">{{variable.Key}}</div>
                      <div class="col-name cell">{{variable.CurrentValue}}</div>
                    </div>
                  </ng-container>
              </section> 
            </div>
          </ng-container>
         
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>