<ion-header>
  <app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
    <ion-grid fixed>
      <form [formGroup]="formGroup">
        <ion-row class="hr-group">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">{{'Trigger' | translate}}</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control
              [field]="{id:'IDProvider', label: 'Provider', type : 'ng-select', dataSource: providerDataSource, bindValue:'Id', bindLabel:'Name', form : formGroup }"
              (change)="changeProvider($event)">
            </app-form-control>
            <!-- <div class="c-control">
              <label class="c-label" for="IDProvider">{{'Provider' | translate}}</label>
              <ng-select [ngClass]="{ 'no-check-dirty': noCheckDirty }" class="c-input" formControlName="IDProvider"
                labelForId="IDProvider" [items]="providerDataSource.items$ | async" [typeahead]="providerDataSource.input$"
                [loading]="providerDataSource.loading" [clearable]="true" bindLabel="Name" bindValue="Id"
                placeholder="{{ 'Provider' | translate }}" (change)="changeProvider($event)">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <ion-chip *ngFor="let i of items">
                    <ion-avatar><ion-img [src]="i.Icon" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img></ion-avatar>
                    <ion-label>{{ i.Name }}</ion-label>
                    <ion-icon (click)="clear(i)" name="close-circle"></ion-icon>
                  </ion-chip>
                </ng-template>
                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                  <div *ngIf="i">
                    <ion-avatar><ion-img #img [src]="i.Icon"
                        (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img></ion-avatar>
                    <span [ngOptionHighlight]="search">{{ i.Name }}</span><br />
                    <small>#<b><span class="important" [ngOptionHighlight]="search">{{ i.Id }} - {{ i.Code }}</span></b>
                      ></small>
                  </div>
                </ng-template>
              </ng-select>
            </div> -->
            <app-form-control
              [field]="{id:'IDAction', label: 'Action triggerable', type : 'ng-select', dataSource: actionDataSource, bindValue:'Id', bindLabel:'Name', form : formGroup }"
              (change)="changeAction($event)">
            </app-form-control>

          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
          </ion-col>
        </ion-row>

        <ion-row class="hr-group" style="position: relative;">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">Actions</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-col size="12" size-sm size-xl="8">
            <div class="table-contain">
              <section class="table">
                <ion-list-header lines="full" style="padding-left: 0px;">
                    <ion-toolbar color="primary">
                      <ion-buttons slot="end">
                        <ion-button (click)="showActionModal()" *ngIf="pageConfig.canAdd">
                          <ion-icon slot="end" name="add"></ion-icon>
                        </ion-button>
                        <ion-button (click)="toggleReorder()" *ngIf="pageConfig.canEdit">
                          <ion-icon slot="end" name="funnel-outline"></ion-icon>
                        </ion-button>
                      </ion-buttons>

                    </ion-toolbar>
                </ion-list-header>
                <header class="bold" style="padding-right: 0;">
                  <div class="col-id cell">Id</div>
                  <div class="col-name cell">Provider / Action</div>
                  <div class="col-icon cell" *ngIf="pageConfig.canEdit">Enable</div>
                  <div class="col-reorder cell" *ngIf="pageConfig.canEdit"></div>
                </header>
                <ion-reorder-group [disabled]="isDisabled"
                  (ionItemReorder)="doReorder($event, formGroup.get('TriggerActions')['controls'])">
                  <ng-container *ngFor="let g of formGroup.get('TriggerActions')['controls']; let idx = index;">
                    <ng-container [formGroup]="g">
                      <div class="row">

                        <div class="col-id cell">
                          {{idx+1}}
                        </div>
                        <div class="col-name cell" *ngIf="pageConfig.canEdit" (click)="showActionModal(g)">
                          {{g.get('ProviderName').value}} - {{g.get('ActionName').value}}
                          <small *ngIf="g.get('Remark').value">{{g.get('Remark').value}}</small>
                        </div>
                        <div class="col-name cell" *ngIf="!pageConfig.canEdit" >
                          {{g.get('ProviderName').value}} - {{g.get('ActionName').value}}
                          <small *ngIf="g.get('Remark').value">{{g.get('Remark').value}}</small>
                        </div>
                        <div class="col-checkbox cell">
                          <input class="c-checkbox" *ngIf="pageConfig.canEdit" [checked]="!g.get('IsDisabled').value" type="checkbox" (change)="changeEnableAction(g, $event)"/>
                          <input class="c-checkbox" *ngIf="!pageConfig.canEdit" [checked]="!g.get('IsDisabled').value" type="checkbox"/>
                        </div>
                        <div class="col-icon cell" *ngIf="pageConfig.canEdit" (click)="removeField(g,idx)">
                          <ion-icon color="danger" class="min-btn" name="trash"></ion-icon>
                        </div>
                        <ion-reorder slot="end"></ion-reorder>
                      </div>
                    </ng-container>
                  </ng-container>
                </ion-reorder-group>
              </section>

            </div>
          </ion-col>
        </ion-row>
        <!-- Other information -->
        <ion-row class="hr-group" *ngIf="item.Id">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">{{'Other information' | translate}}</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control
              [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
            <app-form-control
              [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
            <app-form-control
              [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
            <app-form-control
              [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <app-form-control
              [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"></app-form-control>
            <app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }"
              (change)="saveChange()"></app-form-control>
          </ion-col>
        </ion-row>

      </form>
    </ion-grid>
  </div>
  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>